/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2019, 10:24:09 AM
    Author     : W j K n ¨
*/

@media(max-width:576px) {
    body, p {
        font-size: 14px;
    }
    .nav {
        display: block;
    }
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .responsive-header-logo {
        width: 100px;
        margin-top: 0px;
        margin-left: 10px;
    }
    .nav-item:first-child {
        left: -16px;
    }
    .f-a-size {
        font-size: 18px;
    }
    .mobile-app-tabs svg {
        height: 20px;
        width: 17px;
    }
    .nav-link svg.fa-home {
        margin-left: -32px;
    }
    .nav-link svg.olymp-newsfeed-icon {
        margin-left: -16px;
    }
    header .control-icon > svg {
        margin-left: -2px;
    }
    .avatar {
        width: 22px;
    }
    .mobile-app-tabs {
        padding: 0 2px;
    }
    .nav-item a svg {
        color: #fff;
    }
    .mobile-app-tabs svg {
        fill: #fff;
    }
    .container.index-container, .container.login-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .category-list.container {
        margin: 20px 0px;
    }
    .category-list .category-item-box {
        width: 129px;
        height: 129px;
        padding: 8px;
    }
    .category-list .cat-img img {
        width: 78px;
    }
    .category-list .cat-title h4 {
        font-size: 15px;
    }
    .s002 form .inner-form .input-field.first-wrap, .s002 form .inner-form .input-field.fouth-wrap, .s002 form .inner-form .input-field.second-wrap {
        min-width: 218px;
    }
    .owl-theme .owl-dots .owl-dot span {
        display: block;
    }
    .title-desc {
        font: 13px/1.5 "PT Sans",Arial,sans-serif;
    }
    .title-bg .title1 {
        margin: 7px 0;
        font-size: 22px;
    }
    .title1 {
        font-size: 30px;
    }
    #ad-slider .title a {
        font-size: 20px;
    }
    #ad-slider .created-date {
        font-size: 11px;
    }
    #ad-slider .description p {
        font-size: 13px;

    }
    .ui-block-title .title {
        font-size: 18px;
    }
    .category-list .category-icon img {
        width: 40px;
        margin-right: 15px;
    }
    .category-icon a {
        font-size: 16px;
    }
    #newsfeed-items-grid .ui-block:first-child {
        margin-top: 20px;
    }
    #galleria {
        height: 400px;
    }
    .category-details {
        margin-bottom: 10px;
    }
    .price-tag span {
        font-size: 24px;
        color: #ff7a00;
    }
    .nav-item a svg.olymp-chat---messages-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.olymp-happy-face-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.fa-users {
        margin-top: 8px;
    }
    .author-thumb img {
        margin-top: 9px;   
    }
    .ad-breadcrumbs {
        margin-top: 0px;
        font-size: 18px;
    }

    .intro-section h2 {
        text-align: center;
    }
    .intro-section p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;

    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
    .footer-about p{
        text-align: justify;
    }
    #site-header-responsive .nav-link img {
        width: 20px;
    }
    #site-header-responsive .responsive-header-logo img {
        width: 94px;
    }
    #site-header-responsive .nav-link .author-thumb img {
        margin-top: 0px;
    }
    .control-icon {
        margin-top: 0px;
    }
    .mobile-app-tabs{
        background-color: initial;
        height: 60px;
    }
    .footer-logo img{
        width: 167px;
    }
    .footer-box .footer-header h3{
        font-size: 20px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 14px;
    }
    .responsive-header-logo img{
        padding-bottom: 5px;  
    }
    .has-items img{
        padding-bottom: 7px;
    }
    .nav-link img{
        padding-bottom: 7px;
    }
    .avatar{
        width: 24px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
    }
    .footer-box .footer-contact-info li{
        font-size: 15px;
    }
    .footer-box .footer-contact-info li svg{
        font-size: 16px;
    }
    .title-1{
        margin-right: -143px;
        margin-left: 12px;
        margin-bottom: -23px;
    }
    .btn-primary1{
        margin-left: 111px;
    }
    .about-description h5 {
        font-size: 22px;
    }
    .about-box {
        margin-bottom: 20px;
    }
    .about-box:last-child {
        margin-bottom: 0px;
    }
    .about-main-img img {
        margin-top: 0px;
    }
    .about-main-img {
        margin-bottom: 30px;
    }
    .about-main-description {
        text-align: center;
    }
    .about-main-description p {
        font-size: 14px;
    }
    .hidden-xs{
        display: none;
    }
    .profile-menu li a, .profile-menu li > div{
        font-size: 11px;
    }
    .author-thumb img{
        margin-top: 0px;
    }
    .top-header-author .author-thumb{
        margin-top: -60px;
    }
    .control-block-button .btn-control:last-child{
        margin-right: 13px;
    }
    .capchatext{
        margin-top: -27px;
        padding-bottom: 36px;
    }
    .contact-us-block{
        margin: 6px;
    }
    .event-map{
        margin-bottom: -6px;
    }
    .contact-us-button {
        margin-top: 0px;
        margin-bottom: -9px;

    }
    #typed2{
        white-space:normal;
    }

    /*    .about-main-description span{
            white-space:normal;
        }*/
    .header-spacer {

        display: block;
        height: 15px;

        .copyright{
            margin-top: -22px;
        }


    }
    .btn-post{
        padding: 12px 24px;
        font-size: 14px;
        display: inline-flex;
        margin: auto;
    }
    .nav > .nav-links > a:last-child:hover {
        background-color: #003263;
    }
    .s002 {
        padding: 40px 40px 10px;
    }
    .ad-subcategory{
        margin-left: -1px;
        margin-top: -6px;
        font-size: 15px;
    }
    .ad-category{
        font-size: 15px;
    }
    .ad-city{
        font-size: 15px;
    }
    .ad-time{
        font-size: 15px;
        padding-left: 0px;
    }
    .ad-subcategory1{
        margin-top: -5px;
        margin-left: 0px;
        font-size: 12px;
    }
    a .ad-title{
        font-size: 20px;
        margin-top: 10px;
        padding-bottom: 0px;
    }
    .ad-price {
        color: #003263;
        font-weight: 400;
        font-size: 15px;
        text-align: left;
    }
    .view-details {
        margin-top: -5px;
        padding-right: 0px;
    }
    .boost-ad {
        margin-top: -5px;
        padding-right: 14px;
    }
    .ad-item-image {
        border-right: 0px
    }
    .ad-contact-details img{
        width: 28px;
        margin-right: 4px;
    }
    .ad-contact-details .contact-details{
        font-size: 15px;
    }
    .ad-contact-details a .contact-details{
        font-size: 15px;
    }
    .container-view{
        margin-top: 41px;
        margin-bottom: 41px;
    }
    /*    .nav-links a img{
            width: 32px;
            height: 32px;
        }*/
    .nav-links a img.avatar {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    .top-header-author .author-thumb{
        margin-top: 64px;
    }
    .top-header.top-header-favorit .author-content{
        margin-top: 6px;
        color: #000;
    }
    .top-header.top-header-favorit .author-name {

        font-size: 18px;
        color: #000;

    }
    .active{
        margin-right: 248px;
    }
    .owl-dot.active {
        margin-right: 0px;
    }
    .join-group-btn{
        margin-left: 4px;  
    }
    .news-feed-form .nav-tabs .nav-link.active{
        margin-left: 26px;
    }
    .share-post{
        padding-right: 41px;
    }
    .profile-menu li a, .profile-menu li > div{
        margin-top: -17px;
    }
    .add-options-message{
        padding: 22px 0px;
    }
    .top-header.top-header-favorit .profile-menu li{
        margin-bottom: 0px;
    }
    .top-header-author .author-thumb{
        margin-top: 57px;
    }
    .profile-menu{
        margin-left: 131px;
    }
    .top-header-author .author-thumb{
        margin-top: 76px;
    }
    .share-post{
        padding-left: 20px;
    }
    .tab-content{
        margin-right: -212px;
    }
    .add-options-message{
        margin-left: 19px;
    }
    .join-group-btn{
        padding-left: 0px;
        padding-right: 0px;
    }
    .author-thumb img{
        font-size: 11px;
        margin-top: -1px;
    }
    .author-thumb1 img{
        margin-top: -15px;
    }
    .s002 form .inner-form .input-field input{
        font-size: 13px;
    }
    .ad-breadcrumbs.col-sm-12 {

        padding-left: 0px;
        margin-left: 17px;
    }
    .more-ad .ad-category, .more-ad .ad-subcategory, .more-ad .ad-city, .more-ad .ad-time, .more-ad .ad-price{
        font-size: 15px;
    }
    .more-ad .ad-time {
        padding-left: 0px;
    }
    .more-ad .view-details {
        right: 15px;
    }
    #more-ads-slider .post {
        padding: 15px;
    }
    .footer-bottom-wrap {
        min-height: 60px;
    }
    .copyright {
        padding: 20px 10px 0;
        margin-top: -40px;
    }
    ul.setPaginate {
        margin-bottom: 15px;
    }
    .select-selected {
        font-size: 13px;
    }
    .icon-wrap.hidden {
        display: none !important;
    }
    /*    .label-avatar-xs .label-avatar {
    
            position: absolute;
            top:0px;
            margin-top: 6px;
            right: 0px;
    
        }*/
    .search-bar.w-search.search-bar-xs {
        margin: 5% 3%;
    }
}

@media(min-width:577px) and (max-width:990px) {
    .header {
        display: block;
    }
    body, p {
        font-size: 14px;
    }
    .responsive-header-logo {
        width: 150px;
    }
    .nav-item a svg {
        color: #fff;
    }
    .mobile-app-tabs svg {
        fill: #fff;
    }
    .nav-item:first-child {
        left: -20px;
    }
    .s002 form .inner-form .input-field.fouth-wrap {
        margin-bottom: 15px;
    }
    .hidden-sm {
        display: none;
    }
    .category-list .category-item-box {
        width: 166px;
        height: 166px;
    }
    .category-list.container {
        max-width: 960px;
        margin: 20px 0px;
    }
    .title-desc {
        font: 14px/1.5 "PT Sans",Arial,sans-serif;
    }
    .title1 {
        font-size: 30px;
    }
    #ad-slider .title a {
        font-size: 18px;
    }
    #ad-slider .created-date {
        font-size: 11px;
    }
    #ad-slider .description p {
        font-size: 13px;

    }
    .member-details .mem-name {
        margin-top: 2px;
    }
    #ad-slider .category {
        margin-top: 2px;
    }
    #ad-slider h6 {
        margin-bottom: 0px;
    }
    #newsfeed-items-grid .ui-block:first-child {
        margin-top: 20px;
    }
    .intro-section h2 {
        text-align: center;
    }
    .intro-section p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;

    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
    .footer-about p{
        text-align: justify;
    }

    .category-box-layout1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile-app-tabs{
        background-color: initial;
        height: 40px;
    }
    .header .page-title{
        display: inherit;
        padding: 7px 20px 58px 6px;
        margin-left: 0px;
        margin-right: 0px;
        min-width: 100px;
    }
    .control-block .author-thumb{
        margin-right: -49px;
    }
    .header{
        padding-left: 91px;
    }
    .page-title img {
        width: 135px;
        padding-top: 5px;
    }
    .avatar{
        margin-top: 8px;
        width: 32px;
    }
    .icon-status.online{
        margin-top: 9px;
    }
    .control-icon{
        margin-right: 20px;
    }
    .about-description h5 {
        font-size: 22px;
    }
    .about-main-description {
        text-align: center;
    }
    .about-main-img {
        margin-bottom: 30px;
    }
    .contact-us-block{
        margin: 6px;
    }
    .capchatext{
        margin-top: -12px;
        padding-bottom: 36px;
    }
    .refresh-img {
        margin: -31px 18px 22px 127px;
    }
    .event-map{
        margin-bottom: -6px;
    }
    .contact-us-button {
        margin-top: 0px;
        margin-bottom: -9px;
    }
    .control-block{
        margin-left: 0px;
        font-size: 7px;
    }
    .nav {
        display: none;
    }
    .category-box-layout1 {
        width: 195px;
    }
    .category-box-layout1 .item-title {
        font-size: 15px;
        margin-bottom: 3px;
    }
    .listing-number {
        font-size: 12px;
    }
    .ad-subcategory{
        margin-left: 0px;
        font-size: 12px;
    }
    .ad-time{
        font-size: 12px;
    }
    .ad-subcategory1{
        margin-left: 200px;
        font-size: 12px;
    }
    .author-thumb{
        padding-top: 0px;
    }
    #site-header .avatar{
        margin-top: -1px;
    }
    .author-thumb1 img{
        margin-top: -20px;
    }
    .ad-breadcrumbs.col-sm-12 {

        padding-left: 0px;
        margin-left: 17px;
    }
    .control-icon {
        margin-right: 22px;
        fill: #9a9fbf;
        margin-top: 5px;
    }
    .ad-category, .ad-subcategory, .ad-city, .ad-time {
        font-size: 12px;
    }
    a .ad-title {

        font-size: 15px;
        color: #000;
        font-weight: 500;
        padding-bottom: 0px;

    }
    .ad-price {
        font-size: 13px;
    }
    .ad-category {
        padding-bottom: 4px;
    }
    .footer-about {
        margin-top: 42px;
    }
    .footer-box .footer-contact-info li {
        padding-left: 22px;
    }
    .footer-box .footer-social ul li a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .footer-box .footer-contact-info li svg {
        font-size: 15px;
    }
    .search-bar.w-search {
        min-height: 10px;
        margin-top: 11px;
        height: 36px;
        width: 175px;
        margin-left: 0px;
    }
    .is-empty {
        margin-right: 0px;
    }
    .control-icon .more-dropdown {
        right: -15px;   
        top: calc(100% + 13px);
    }
    .notification-list .notification-event {
        padding-left: 45px;
        width: 100%;
        margin-top: -34px;
    }
    #name-list-append .author-thumb img {
        height: 30px;
        width: 30px;
    }
    
}

@media(min-width:992px) and (max-width:1200px) {
    .hidden-md {
        display: none;
    }
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
}


@media(min-width:1200px) {
    .hidden-lg {
        display: none;
    }
}

@media(width:360px) {
    .category-list .category-item-box {
        width: 129px;
        height: 129px;
        padding: 8px;
    }  
    .nav-item:first-child{
        left: -30px;
    }
    .profile-menu{
        margin-left: 180px;
    }
}

@media(width:375px) {
    .category-list .category-item-box {
        width: 136.5px;
        height: 136.5px;
        padding: 12px;
    }
    .category-list .cat-title h4 {
        font-size: 17px;
    }
    .avatar{
        width: 23px;  
    }
    .copyright{
        margin-top: -22px;
    }
    .top-header-author .author-thumb{
        margin-top: 67px;
    }
    .join-group-section{
        margin-left: -14px;
    }
    .join-group-btn{
        padding-left: 2px;
        padding-right: 3px;
    }
    .s002 form .inner-form .input-field input{
        font-size: 15px;
    }
}

@media(width:414px) {
    .category-list .category-item-box {
        width: 156px;
        height: 156px;
        padding: 17px;
    }
    .category-list .cat-title h4 {
        font-size: 17px;
    }
    .top-header-author .author-thumb{
        margin-top: 76px;
    }
    .share-post{
        padding-left: 13px;
    }
    .tab-content{
        margin-right: -212px;
    }
    .add-options-message{
        margin-left: 19px;
    }
    .join-group-btn{
        padding-left: 5px;
        padding-right: 8px;
    }
    .s002 form .inner-form .input-field input{
        font-size: 16px;
    }
}


@media (width: 768px){
    .header{
        padding-left: 6px;
        padding-right: 1px;
        height: 64px;
    }
    .responsive-header-logo img{
        max-width: 100%;
        margin-left: -283px;
    }
    .mobile-app-tabs{
        margin-left: 301px;
    }
    .footer-box .footer-header h3{
        font-size: 22px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 13px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }

    .has-items img{
        /*padding-bottom: 10px;*/
    }
    .avatar{
        width: 46px;
        margin-bottom: 5px;
    }
    .footer-box .footer-contact-info li svg{
        font-size: 15px;
    }
    .btn-primary1{
        margin-left: 237px;
    }
    .responsive-header-logo{
        margin-right: -68px;
    }
    .icon-profile a span{
        margin-top: 6px;
    }
    .ad-subcategory{
        margin-left: 0px;
        margin-top: -4px;
    }
    .ad-subcategory1{
        margin-top: -3px;
        margin-left: 0px;
        font-size: 12px;
    }
    .title1{
        font-size: 36px;
    }
    .top-header.top-header-favorit .author-thumb{
        margin-top: -53px;
        margin-left: -71px;
    }
    .author-thumb{
        padding-top: 0px;
    }
    .profile-menu{
        margin-left: 161px;
    }
    .top-header-author .author-thumb{
        margin-top: 79px;
    }
    .top-header.top-header-favorit .top-header-author{
        bottom: -40px;
    }
    .top-header.top-header-favorit .author-content{
        margin-top: -24px;
    }
    .author-thumb1 img{
        margin-top: -18px;
        margin-left: -11px;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 0px;
    }
    .control-icon {
        margin-right: 29px;
        fill: #9a9fbf;
        margin-top: 5px;
    }
}
@media (width:1024px){
    .header .page-title{
        display: inherit;
        padding: 9px 313px 15px 9px;
    }
    .intro-section h2{
        text-align: center;
    }
    .intro-section p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .background-image img{
        width: 909px;
    }
    .footer-box{
        margin-left: 12px;
    }
    .page-title img{
        width: 150px;
    }
    .avatar{
        width: 32px;
        margin-top: 8px;
    }
    .icon-status.online{
        margin-top: 8px;
    }
    .control-icon{
        margin-right: 19px;
    }
    .control-block{
        margin-left: -145px;
    }
    .office h3{
        margin-bottom: -14px;
    }
    .ad-subcategory{
        margin-left: 162px;
        font-size: 12px;
    }
    .ad-subcategory1{
        margin-left: 162px;
        font-size: 12px;
    }
    #more-ads-slider .owl-nav{
        display: none;
    }
    .ad-description p{
        font-size: 15px;
    }
    .ad-contact-details img{
        width: 37px;
    }
    .ad-contact-details .contact-details{
        font-size: 15px;
    }
    .ad-contact-details a .contact-details{
        font-size: 15px;
    }
    .profile-menu{
        margin-left: 68px;
    }
    .author-thumb img{
        margin-top: 0px;
    }
    .author-thumb1 img{
        margin-top: -14px;
    }
    .s002 form .inner-form .input-field .icon-wrap{
        width: 26px;
    }
    .s002 form .inner-form .input-field input{
        padding: 10px 6px 10px 27px;
        font-size: 9px;
    }




}

@media (width: 640px){
    .header{
        padding-left: 27px;
        padding-right: 27px;        
    }
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 80%;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 0px;
    }
    .footer-box .footer-header h3{
        font-size: 19px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }
    .single-item{
        margin-left: -8px;
    }
    .has-items img{
        margin-bottom: 11px;
    }
    .avatar{
        width: 41px;
        margin-bottom: 10px;
    }
    .has-item img{
        padding-bottom: 14px;
        height: 37px;
        width: 37px;
    }
    .responsive-header-logo img{
        padding-bottom: 4px;
        margin-left: -118px;
    }
    .nav-link1 img{
        padding-bottom: 2px;
    }
    .mobile-app-tabs{
        margin-left: 138px;
    }
    .btn-primary1{
        margin-left: 241px;
    }
    .responsive-header-logo{
        margin-left: -89px;
    }
    .nav-item:first-child{
        left: 65px;
    }
    .header-content-wrapper{
        margin-top: -56px;
        margin-right: -9px;
    }
    .btn-post{
        font-size: 12px;
        margin-left: -21px;
    }
    .ad-subcategory{
        margin-top: -4px;
        margin-left: 0px;
    }
    .ad-subcategory1{
        margin-top: -3px;
        margin-left: 0px;
    }
    .top-header.top-header-favorit .top-header-author{
        bottom: -38px;
    }
    .profile-menu{
        margin-left: 13px;
    }
    .author-thumb1 img{
        margin-top: -106px;
    }

}

@media (width: 600px){
    .header{
        padding-right: 1px;
        padding-left: 7px;
    }  
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 85%;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 0px;
    }
    .footer-box .footer-header h3{
        font-size: 18px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }

    .icon-status.online{
        margin-top: 0px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
    }
    .has-item img{
        padding-bottom: 14px;
    }
    .btn-md-2{
        margin-right: 85px;
    }
    .ui-block{
        margin-left: -85px;
    }
    .responsive-header-logo img{
        margin-left: -120px;
        margin-bottom: 5px;
    }
    .mobile-app-tabs{
        margin-left: 140px;
    }
    .has-item img{
        height: 36px;
        width: 36px;
    }
    .avatar{
        margin-top: -1px;
        width: 43px;
    }
    .has-items img{
        margin-bottom: 11px;
    }
    .intro-section p{
        margin-left: 85px;
    }
    .footer-box .footer-contact-info li svg{
        font-size: 16px;
        left: -21px;
    }
    .footer-box .footer-contact-info li{
        padding-left: 5px;
    }
    .ui-block{
        margin-left: 0px;
    }
    .nav-item:first-child{
        left: 49px;
    }
    .mobile-app-tabs{
        margin-left: 74px;
    }
    .intro-section p{
        margin-left: -2px;
    }

    .footer-box .footer-header h3{
        font-size: 16px;
    }
    .footer-about p{
        margin-top: 29px;
    }

    .footer-box .widget_nav_menu li a{
        font-size: 13px;
    }
    .contact-info-title{
        font-size: 13px;
    }
    .header-content-wrapper{
        margin-top: -56px;
        margin-right: -9px;
    }
    .ad-subcategory{
        margin-left: 0px;
        margin-top: -5px;
    }
    .ad-subcategory{
        margin-left: 0px;
        margin-top: -3px;
    }
    .ad-subcategory1{
        margin-left: 0px;
        margin-top: -3px;
    }
    .top-header.top-header-favorit .top-header-author{
        bottom: -32px;
    }
    .profile-menu{
        margin-left: 18px;
    }
    .author-thumb1 img{
        margin-left: -10px;
        margin-top: -15px;
    }
    #site-header .avatar{
        margin-top: -14px;
    }
    .category-box-layout1{
        width: 151px;
        margin-left: 14px;
    }


}

@media (width: 800px){
    .avatar{
        width: 28px;
    }
    .btn-primary1{
        margin-left: 244px;
    }

    .office h3{
        margin-bottom: -10px;
    }
    .top-header.top-header-favorit .top-header-author{
        bottom: -40px;
    }
    .author-thumb1 img{
        margin-top: -13px;
    }
    .footer-about {
        margin-top: 23px;
    }

}

@media(min-width:1200px) and (max-width:1400px) {
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
    .slider-item-footer h6 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .member-details .mem-name {
        margin-top: 3px;
    }
    #ad-slider .owl-nav {
        margin-top: -310px;
    }
    /*    .author-thumb img{
            margin-top: 50px;
        }*/
    .author-thumb1 img{
        margin-top: -2px;
    }
}



@media (width: 1440px){
    .page-title img{
        padding-top: 0px;
        height: 44px;
        width: auto;
    }
    .avatar{
        margin-top: 7px;
    }
    .icon-status.online{
        margin-top: 8px;
    }
    /*    .author-thumb img{
            margin-top: 50px;
        }*/
    .author-thumb1 img{
        margin-top: -2px;
    }
}



@media(width:1280px) {
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
    .slider-item-footer h6 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .member-details .mem-name {
        margin-top: 3px;
    }
    #ad-slider .owl-nav {
        margin-top: -575px;
    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
    .page-title img{
        width: 140px;
        padding-top: 4px;
    }
    .avatar{
        margin-top: 6px;
    }
    .icon-status.online{
        margin-top: 7px;
    }
    /*    .control-block{
            margin-right: 15px;
        }*/
}

@media (max-width: 1080px){
    .header {
        height: 56px;
        padding-left: 0;
        padding-right: 0;

    }
    .header-content-wrapper {
        height: 100%;
        float: right;
    }
    .control-block {
        padding: 0px 20px 0;
        float: right;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
    #site-header .more {

        padding-bottom: 4px;

    }
    #site-header .control-icon {

        text-align: center;

    }
    .control-icon.has-items {

        fill: #fff;

    }
    .more {

        position: relative;
        transition: all .3s ease;
        color: #888da8;
        fill: #c0c4d8;

    }
    .control-icon {

        /*margin-right: 29px;*/
        fill: #9a9fbf;
        margin-top: 5px;

    }
    .control-icon a {

        color: #9a9fbf;

    }
    .control-icon span, .author-page span {

        display: block;

    }
    #site-header .control-icon img {

        height: 23px;
        opacity: 0.8;

    }
    .control-icon span img {

        float: none;

    }
    .control-icon span.nav-topic {
        display: none;

    }
    .header .page-title {
        display: inherit;
        padding: 7px 20px 7px 17px;
    }
    #site-header .control-icon img:hover {

        height: 23px;
        opacity: 1;
        fill: #fff;


    }
    #site-header .control-icon img.follower-request:hover {

        height: 26px;

    }
    .has-items img {
        padding-bottom: 0px;   
    }
}
@media (width: 384px){
    .top-header-author .author-thumb{
        margin-top: 68px;
    }
    .join-group-btn{
        padding-left: 3px;
        padding-right: 4px;
    }
    .s002 form .inner-form .input-field input{
        font-size: 15px;
    }


}
@media (width: 412px){
    .top-header-author .author-thumb{
        margin-top: 79px;
    }
    .top-header.top-header-favorit .author-content{
        margin-top: 70px;
    }
    .author-thumb1 img{
        margin-top: -15px;
    }
    .join-group-btn{
        padding-left: 8px;
        padding-right: 8px;
    }
    .s002 form .inner-form .input-field input{
        font-size: 16px;
    }

}
@media (width: 834px){
    .author-thumb1 img{
        margin-top: -17px;
    }
}