/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2019, 10:24:09 AM
    Author     : W j K n ¨
*/

@media(max-width:576px) {
    body, p {
        font-size: 14px;
    }
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .responsive-header-logo {
        width: 100px;
        margin-top: 0px;
        margin-left: 10px;
    }
    .nav-item:first-child {
        left: -16px;
    }
    .f-a-size {
        font-size: 18px;
    }
    .mobile-app-tabs svg {
        height: 20px;
        width: 17px;
    }
    .nav-link svg.fa-home {
        margin-left: -32px;
    }
    .nav-link svg.olymp-newsfeed-icon {
        margin-left: -16px;
    }
    header .control-icon > svg {
        margin-left: -2px;
    }
    .avatar {
        width: 22px;
    }
    .mobile-app-tabs {
        padding: 0 2px;
    }
    .nav-item a svg {
        color: #fff;
    }
    .mobile-app-tabs svg {
        fill: #fff;
    }
    .container.index-container, .container.login-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .category-list.container {
        margin: 20px 0px;
    }
    .category-list .category-item-box {
        width: 129px;
        height: 129px;
        padding: 8px;
    }
    .category-list .cat-img img {
        width: 78px;
    }
    .category-list .cat-title h4 {
        font-size: 15px;
    }
    .s002 form .inner-form .input-field.first-wrap, .s002 form .inner-form .input-field.fouth-wrap, .s002 form .inner-form .input-field.second-wrap {
        min-width: 218px;
    }
    .owl-theme .owl-dots .owl-dot span {
        display: block;
    }
    .title-desc {
        font: 13px/1.5 "PT Sans",Arial,sans-serif;
    }
    .title-bg .title1 {
        margin: 7px 0;
        font-size: 22px;
    }
    .title1 {
        font-size: 30px;
    }
    #ad-slider .title a {
        font-size: 20px;
    }
    #ad-slider .created-date {
        font-size: 11px;
    }
    #ad-slider .description p {
        font-size: 13px;

    }
    .ui-block-title .title {
        font-size: 18px;
    }
    .category-list .category-icon img {
        width: 40px;
        margin-right: 15px;
    }
    .category-icon a {
        font-size: 16px;
    }
    #newsfeed-items-grid .ui-block:first-child {
        margin-top: 20px;
    }
    #galleria {
        height: 400px;
    }
    .category-details {
        margin-bottom: 10px;
    }
    .price-tag span {
        font-size: 24px;
        color: #ff7a00;
    }
    .nav-item a svg.olymp-chat---messages-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.olymp-happy-face-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.fa-users {
        margin-top: 8px;
    }
    .author-thumb img {
        margin-top: 9px;   
    }
    .ad-breadcrumbs {
        margin-top: 10px;
    }

    .intro-section h2 {
        text-align: center;
    }
    .intro-section p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;

    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
    .footer-about p{
        text-align: justify;
    }
    .category-box-layout1 {
        margin-left: 20px;
        margin-right: 20px;
    }


    #site-header-responsive .nav-link img {
        width: 20px;
    }
    #site-header-responsive .responsive-header-logo img {
        width: 100px;
    }
    #site-header-responsive .nav-link .author-thumb img {
        margin-top: 0px;
    }
    .control-icon {
        margin-top: 0px;
    }
    .mobile-app-tabs{
        background-color: initial;
        height: 60px;
    }
    .footer-logo img{
        width: 167px;
    }
    .footer-box .footer-header h3{
        font-size: 24px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }

}

@media(min-width:577px) and (max-width:990px) {
    body, p {
        font-size: 14px;
    }
    .responsive-header-logo {
        width: 150px;
    }
    .nav-item a svg {
        color: #fff;
    }
    .mobile-app-tabs svg {
        fill: #fff;
    }
    .nav-item:first-child {
        left: -20px;
    }
    .s002 form .inner-form .input-field.fouth-wrap {
        margin-bottom: 15px;
    }
    .hidden-sm {
        display: none;
    }
    .category-list .category-item-box {
        width: 166px;
        height: 166px;
    }
    .category-list.container {
        max-width: 960px;
        margin: 20px 0px;
    }
    .title-desc {
        font: 14px/1.5 "PT Sans",Arial,sans-serif;
    }
    .title1 {
        font-size: 30px;
    }
    #ad-slider .title a {
        font-size: 18px;
    }
    #ad-slider .created-date {
        font-size: 11px;
    }
    #ad-slider .description p {
        font-size: 13px;

    }
    .member-details .mem-name {
        margin-top: 2px;
    }
    #ad-slider .category {
        margin-top: 2px;
    }
    #ad-slider h6 {
        margin-bottom: 0px;
    }
    #newsfeed-items-grid .ui-block:first-child {
        margin-top: 20px;
    }
    .intro-section h2 {
        text-align: center;
    }
    .intro-section p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;

    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
    .footer-about p{
        text-align: justify;
    }

    .category-box-layout1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobile-app-tabs{
        background-color: initial;
        height: 40px;
    }
    .header .page-title{
        display: inherit;
        padding: 7px 143px 58px 6px;
        margin-left: -54px;
        margin-right: 58px;
    }
    .control-block .author-thumb{
        margin-right: -49px;
    }
    .header{
        padding-left: 91px;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 128px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
}

@media(width:360px) {
    .category-list .category-item-box {
        width: 129px;
        height: 129px;
        padding: 8px;
    }  
}

@media(width:375px) {
    .category-list .category-item-box {
        width: 136.5px;
        height: 136.5px;
        padding: 12px;
    }
    .category-list .cat-title h4 {
        font-size: 17px;
    }
}

@media(width:414px) {
    .category-list .category-item-box {
        width: 156px;
        height: 156px;
        padding: 17px;
    }
    .category-list .cat-title h4 {
        font-size: 17px;
    }
}

@media(width:1280px) {
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
    .slider-item-footer h6 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .member-details .mem-name {
        margin-top: 3px;
    }
    #ad-slider .owl-nav {
        margin-top: -575px;
    }
    .listing-dire .owl-dots{
        margin-bottom: 70px; 
    }
}
@media(min-width:1200px) and (max-width:1400px) {
    .category-list.container {
        max-width: 960px;
        margin: 20px 26px;
    }
    .slider-item-footer h6 {
        font-size: 12px;
        margin-bottom: 0px;
    }
    .member-details .mem-name {
        margin-top: 3px;
    }
    #ad-slider .owl-nav {
        margin-top: -575px;
    }
}

@media (width:1024px){
    .header .page-title{
        display: inherit;
        padding: 9px 313px 15px 9px;
    }
    .intro-section h2{
        text-align: center;
    }
    .intro-section p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .background-image img{
        width: 909px;
    }
    .footer-box{
        margin-left: 12px;
    }
}
@media (width: 768px){
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 114px;
    }
    .header{
        padding-left: 6px;
        padding-right: 1px;
        height: 64px;
    }
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 100%;
        margin-left: -283px;
    }
    .mobile-app-tabs{
        margin-left: 301px;
    }
    .footer-box .footer-header h3{
        font-size: 22px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }
}
@media (width: 640px){
    .header{
        padding-left: 27px;
        padding-right: 27px;        
    }
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 80%;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 0px;
    }
    .footer-box .footer-header h3{
        font-size: 19px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }


}
@media (width: 600px){
    .header{
        padding-right: 1px;
        padding-left: 7px;
    }  
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 85%;
    }
    .s002 form .inner-form .input-field.fifth-wrap .btn-search{
        margin-left: 0px;
    }
    .footer-box .footer-header h3{
        font-size: 18px;
    }
    .footer-about p{
        margin-top: -16px;
    }
    .footer-box .widget_nav_menu li a{
        font-size: 16px;
    }
    .footer-box .footer-contact-info li{
        font-size: 16px;
        margin-bottom: 6px;
    }
    

}

