/* 
    Created on : Dec 17, 2018, 5:27:41 PM
    Author     : W j K n ¨
*/
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0px;
    width: 100%;
}
.header .page-title {
    padding: 5px 10px 19px 80px;
}
#site-header .control-icon img {
    width: 25px;
    opacity: 0.8;
}

#site-header .control-icon img:hover {
    width: 25px;
    opacity: 1;
}
.page-title img {
    width: 140px;
}
.link-find-friend {
    padding: 25px 13px;
}
#register {
    padding: 20px 25px 35px;
}
.author-thumb img.signin {
    border-radius: 0;
    opacity: 0.8;
}
.author-thumb img.signin:hover {
    opacity: 1;
}
.alert-position {
    padding: 10px 24px 0;
}
.alert-position .alert {
    margin-bottom: 0;
}
.hidden {
    display: none;
}
.uploadphotobx, .uploadgroupphotobx, .uploadphotobx2, .uploadgroupphotobx2 {
    background: transparent;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.uploadgroupphotobx i, .uploadphotobx i {
    font-size: 48px;
    color: #999;
    display: block;
    margin-bottom: 15px;
}
.uploadphotobx img {
    display: block;
    width: 250px;
    margin-bottom: -29px;
}
.uploadgroupphotobx img {
    display: block;
    width: 167px;
    margin-bottom: -29px;
}
.uploadphotobx2 img, .uploadgroupphotobx2 img {
    display: block;
    width: 387px;
    margin-bottom: -29px;
    height: 167px;
}
.proimg img {
    display: block;
    width: 250px;
    margin-bottom: -29px;
    border-radius: 50%;
}
.progroupimg img {
    display: block;
    width: 167px;
    height: 167px;
    margin-bottom: -29px;
    border-radius: 50%;
}
.uploadphotobx:hover, .uploadgroupphotobx:hover, .uploadphotobx2:hover, .uploadgroupphotobx2:hover {
    opacity: 0.5;
}
.uploadphotobx .uploadBox input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.uploadphotobx2 .uploadBox2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.uploadgroupphotobx .uploadgroupBox input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 167px;
    min-width: 167px;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.uploadgroupphotobx2 .uploadgroupBox2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 167px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-pro-pic{
    text-align: center;
    margin:10px 69px;
}
.upload-group-pro-pic{
    text-align: center;
    margin: 10px 132px 45px;
}
.upload-cover-pic, .upload-group-cover-pic {
    text-align: center;
    margin:10px 0px;
}
.upload-span {
    height: 250px;
    width: 250px;
    position: absolute;
    vertical-align: middle;
    padding-top: 20%;
    font-size: 15px;
    background: #0009;
    border-radius: 50%;
    color: #fff;
}
.upload-span2 {
    height: 167px;
    width: 387px;
    position: absolute;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 15px;
    background: #0009;
    border-radius: 0;
    color: #fff;
}
.upload-span input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-span2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-group-span {
    height: 167px;
    width: 167px;
    position: absolute;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 15px;
    background: #0009;
    border-radius: 50%;
    color: #fff;
}
.upload-group-span2 {
    height: 167px;
    width: 387px;
    position: absolute;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 15px;
    background: #0009;
    border-radius: 0;
    color: #fff;
}
.upload-group-span input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-group-span2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.btn-upload {
    margin-top: 20px;
}
.avatar {
    width: 36px;
}
.registration-login-form p {
    padding-left: 15px;
    margin-bottom: 10px;
}
.main-profile-pic img {
    width: 124px;
}

select.form-control.sub-category-select:not([size]):not([multiple]) {
    height: 58px;
}
.label-floating .form-control.sub-category-select {
    padding: 0.8rem 1.1rem .5rem;
    background: transparent;
    -webkit-appearance: transparent;
}
.alert-in-page {
    padding: 0px 0px 10px;
}
.author-page {
    margin-left: 0px;
}
.friend-groups .friend-avatar .author-thumb img {
    border: none;
    width: 120px;
}
.main-header {
    padding: 70px 0;
    max-width: 100%;
}
.landing-page .header-spacer--standard {
    margin-bottom: 0px;
}
.header-spacer--standard {
    height: 20px;
}
.img-wrap img {
    max-width: 140px;
}
.join-group-btn {
    margin-top: 15px;
    margin-left: 22px;
}
.join-group-section {
    margin-top: 27px;
}
#request-cancel-block .join-group-btn {
    padding-right: 25px;
    padding-left: 25px;
}
.request-label-avatar {
    position: absolute;
    right: 40px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden;
}
.member-request-profile-pic img {
    width: 92px;
    /*width: 42px;*/
}
.friend-requests .author-thumb img {
    width: 42px;
}
.btn-control-square {
    border-radius: 0;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    fill: #fff;
    font-size: 15px;
}
.notification-list li.hidden {
    display: none;
}
.manage-group-section {
    text-align: right;
}
.search-items {
    background: #fff;
    padding: 14px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}
.notification-list .author-thumb {
    height: 40px;
    width: 40px;
    float: left;
}
.notification-list .notification-event {
    padding-left: 45px;
    width: 80%;
}
.friend-requests .notification-icon {
    margin-top: -31px;
}
#name-list-append .author-thumb img, #member-name-list-append .author-thumb img {
    height: 40px;
    width: 40px;
}
.search-items.selected {
    background: #e6e6e6;
}
.search-items:hover {
    background: #e6e6e6;
}
.friend-request .request-label-avatar {
    position: absolute;
    right: 27px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden;
}
.friend-request .btn-md-2 {
    padding: .8rem 3.1rem .8rem 2.1rem;
    font-size: .688rem;
}
.friend-request {
    text-align: right;
}
._upload {

    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

}
._uploadinput {

    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;

}
._outlinenone {

    outline: none;

}
.flipScrollableArea {

    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

}
.flipScrollableAreaWrap, .native .flipScrollableAreaWrap:active {

    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    height: 150%;

}
.flipScrollableAreaBody {

    position: relative;
    display: inline-block;

}
.flipScrollableAreaContent {
    white-space: nowrap;
}
#facebook ._-kb div {

    font-family: inherit;

}
._1cx1 ._2pko:first-child {

    margin-left: 7px;

}
._uploadedimagesbox, ._uploadedimagesbox_edit {

    display: inline-block;
    vertical-align: top;

}
._uploadedimages {

    display: inline-block;
    margin-left: 5px;
    position: relative;
    z-index: 999;
}
._uploadouterbox, ._uploadouterbox_edit {

    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    left: 0px;
    top: 0px;
    position: absolute;
}
._m {

    position: relative;

}
._6a {

    display: inline-block;

}
._1cx1 ._uploadbox {

    margin-right: 12px;

}
._uploadbox {

    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    min-width: 100px;
    position: relative;
    width: auto;
    background-image: url(../img/icon/EWLe5fNY_Iz.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;

}
._m ._3jk {

    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

}
._m ._n {

    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;

}
._5f0v {

    outline: none;

}
#facebook .invisible_elem {

    visibility: hidden;

}
.fade .flipScrollableAreaTrack {

    opacity: 0;

}
.flipScrollableAreaTrack {

    display: inline-block;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 7px;
    z-index: 5;

}
._btn._removebtn {

    /*background-image: url(../img/icon/close.png);*/

    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -144px;

}
._buttons {
    position: absolute;
    right: 25px;
    top: 5px;
    z-index: 1;
}
._5upp {

    /*background-color: transparent;*/
    border: 0 none;
    cursor: pointer;
    font-size: 0 !important;
    /*overflow: hidden;*/
    padding: 0;
    vertical-align: middle;

}
._btn {
    height: 12px;
    width: 12px;
}
._42ft {

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

}
._jfi {

    bottom: 0;
    left: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;

}
._cwf {

    left: 10px;

}
._jfh {

    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 30px;
    z-index: 1;

}
._cwg {

    background-image: url(../img/icon/GivjgjqCUEz.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -150px -407px;
    height: 22px;
    margin: 5px auto;
    width: 24px;

}
._4_z4 {

    right: 10px;

}
._jfh {

    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 30px;
    z-index: 1;

}
._4_z5 {

    background-image: url(../img/icon/TDQFe8QZICs.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -249px;
    height: 20px;
    margin: 5px auto;
    width: 20px;

}
.news-feed-form textarea {
    min-height: 75px;
    border: none;
}
.add-options-message {
    padding: 10px 25px;
    float: left;
    width: 100%;
    border-top: 2px solid #dddddd;
}
input[type='submit'].share-post {
    width: 20%;
    float: right;
}
.form-group.with-icon ._uploadedimages svg {

    display: block;
    position: absolute;
    left: 75px;
    top: 19px;
    margin-top: -10px;
    width: 25px;
    text-align: right;
    line-height: 3.5rem;
    font-size: 20px;
    color: #fff;
    float: right;
    opacity: 0;
}
.form-group.with-icon ._uploadedimages svg:hover {
    opacity: 1;
}
.no-post {
    padding: 20px;
}
.no-post h5 {
    margin-bottom: 0;
}
.btn-md-2.edit-post {
    width: 100px;
    float: right;
}
#edit-post-section .panel {
    padding: 20px;
}
.header-dropdown {
    text-align: right;
    margin-right: -8px;
    font-size: 20px;
    margin-bottom: -11px;
    position: relative;
    z-index: 999;
}

#form-create-ad ._uploadedimages svg, #form-edit-ad ._uploadedimages svg {

    opacity: 1;
    display: block;
    position: absolute;
    left: 75px;
    top: 19px;
    margin-top: -10px;
    width: 25px;
    text-align: right;
    line-height: 3.5rem;
    font-size: 20px;
    color: #fff;
    float: right;
    opacity: 0;

}
#form-create-ad ._uploadedimages svg:hover, #form-edit-ad ._uploadedimages svg:hover {
    opacity: 1;
}

#form-create-ad ._uploadouterbox, #form-edit-ad ._uploadouterbox {
    display: inline-block;
    margin-left: 0px;
    vertical-align: top;
    left: 0;
    top: 0px;
    position: absolute;
}
#form-create-ad ._uploadedimages, #form-edit-ad ._uploadedimages {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
}
#create-ad.btn {
    color: #fff;
}
#form-edit-ad .flipScrollableArea {
    margin-top: 20px;
}
#remove-circle .remove-ad-image {
    font-size: 20px;
    color: #ff5e3a;
    right: 98px;
    position: absolute;
    margin-top: -14px;
    cursor: pointer;
}
.reply-form, .comment-edit-form, .reply-edit-form {

    padding: 25px;
    border-top: 1px solid #e6ecf5;
    overflow: hidden;

}
.reply-form .post__author, .comment-edit-form .post__author, .reply-edit-form .post__author {

    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.reply-form .post__author img, .comment-edit-form .post__author img, .reply-edit-form .post__author img {

    margin-right: 10px;
    min-width: 28px;
    max-width: 28px;
    height: 28px;

}
.reply-form .form-group, .comment-edit-form .form-group, .reply-edit-form .form-group {

    margin-bottom: 0;
    width: 100%;
    margin-left: auto;

}
.reply-form textarea, .comment-edit-form textarea, .reply-edit-form textarea {

    min-height: 60px;
    height: 60px;
    transition: all .3s ease;
}
.reply-form .add-options-message, .comment-edit-form .add-options-message, .reply-edit-form .add-options-message {

    position: absolute;
    right: 20px;
    bottom: 15px;
    width: auto;
    padding: 0;

}
.reply-form button, .comment-edit-form button, .reply-edit-form button {

    float: right;
    margin-bottom: 0;
    margin-top: 15px;

}
.see-more {

    padding: 24px;

}
.edit-comment {
    cursor: pointer;
}
#post-edited-cancel, #reply-edited-cancel, #shared-post-edited-cancel {
    margin-right: 10px;
    color: #000;
}
.header {
    height: 61px;
    padding-right: 80px;
}
.control-icon {
    margin-right: 35px;
}
.search-bar {
    height: 55px;
}
.search-bar.w-search {
    min-height: 55px;
}
.search-bar .form-group.with-button input {
    height: 78%;
}
.form-group.with-button button {
    height: 78%;
}
.header-spacer {
    display: block;
    height: 70px;
}
.index-group-list .group-icon img {
    width: 30px;
    margin-right: 10px;
}
.index-group-list li .text {
    margin-bottom: 10px;
}
.control-icon a {
    color: #fff;
}
.delete-comment {
    cursor: pointer;
}
.container.index-container, .container.login-container {
    max-width: 1106px;
    margin-left: auto;
    margin-right: auto;
}
.update-header-photo {
    width: 600px;
}
.upload-photo-item {
    width: 100%;
}
.olymp-computer-icon.upload-icon {
    fill: #0a0a0e;
    margin-left: 40px;
    position: absolute;
    /*z-index: 9999;*/
    margin-top: 41px;
    opacity: 1;
}
.upload-profile-pic .pro-pic {
    border-radius: 50%;
    opacity: 1;
    width: 150px;
    position: relative;
    margin-bottom: 15px;
}
.upload-photo-item .pro-pic:hover {
    opacity: 0.4;
}
.upload-cover-pic .cover-pic {

    border-radius: 0;
    opacity: 1;
    width: 387px;
    position: relative;
    margin-bottom: 15px;
    height: 168px;

}
.upload-cover-pic input[type="file"] {

    cursor: pointer;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 255px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    left: 85px;
    text-align: left;
    top: 44px;
    cursor: pointer;
    width: 430;

}
.upload-profile-pic input[type="file"] {
    cursor: pointer;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 236px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    left: 208px;
    text-align: left;
    top: 33px;
    cursor: pointer;
    width: 186px;
}
.upload-photo-item {
    cursor: auto;
}
input.member-name {
    padding: 10px;
    margin: 10px 20px;
    width: 93%;
}
.search-items1 {

    background: #fff;
    padding: 14px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    width: 93%;

}
#member-name-list-append .author-thumb {

    height: 40px;
    width: 40px;
    float: left;

}
#member-name-list-append .notification-event {
    padding-left: 50px;
    width: 80%;
}
#member-name-list-append .notification-icon {
    color: #d7d9e5;
    fill: #d7d9e5;
    float: right;
    margin-top: 10px;
    margin-top: -31px;
}
#member-name-list-append .chat-message-item {
    font-size: 12px;
}
#add-member-success-msg h5, .close-modal h5 {
    padding: 10px 26px;
}
.create-group {
    background-color: transparent;
    border: 2px dashed #bbc0d5;
    position: relative;
    height: 290px;
}
.upload-group-pro-pic.pro-img {
    margin: 10px 112px 45px;
}
.remove-member {
    cursor: pointer;
}
._uploadloaderbox, ._uploadloaderbox_edit {

    display: none;
    margin-left: 5px;
    margin-right: 12px;
    vertical-align: top;
    left: 0px;
    top: 0px;
    position: absolute;

}
._uploadloaderbox ._uploadbox, ._uploadloaderbox_edit ._uploadbox {

    border: 2px solid #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    min-width: 100px;
    position: relative;
    width: auto;
    background: #eee;
}
.notification-list.friend-requests-notification .author-thumb img {
    width: 42px;
}
.control-icon .friend-requests-notification .author-thumb {
    height: 42px;
    width: 42px;
    margin-right: 0;
    overflow: hidden;
}
.control-icon .friend-requests-notification a {
    color: #484343;
}
.form-group.with-button button.search-btn {
    height: 100%;
}
.friend-list-img {
    width: 34px;
}
.members-in-group {
    height: 290px;
}
header [class*=" -icon"], [class^="olymp-"] {
    height: 24px;
    width: 24px;
    display: inline-block;
}
header .control-icon > svg {
    height: 24px;
}
.f-a-size {
    font-size: 24px;
}
/***************************************************/
#content .content-title {
    margin-bottom: 20px;
}
.title-bg {
    position: relative;
}
.title-bg .title1 {
    margin: 7.5px 0;
    font-weight: 600;
}
.title-bg > h1, .title-bg > h2, .title-bg > h3, .title-bg > h4, .title-bg > h5 {
    position: relative;
    display: inline-block;
    left: 0;
    padding-right: 30px;
    z-index: 1;
    background: #fff;
}
@media(min-width: 1200px) {
    .title1 {
        font-size: 42px;
    }
}
.title1 {
    padding-left: 8px;
    border-left: 4px solid #7bae23;
    font-size: 40px;
    margin-bottom: 15px;
}
.title-bg::after {
    content: '';
    background: #dcdcdc;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5px;
    display: block;
    width: 100%;
    height: 1px;
    z-index: 0;
}
.title-bg + .title-desc {
    margin: 5px 0;
}
.title-desc {
    font: 17px/1.5 "PT Sans",Arial,sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.carousel-controls {
    top: 8px;
    width: 130px;
    height: 41px;
    padding-left: 17px;
}

/*********************************/
.ad-container {
    padding: 20px 50px;
}
#ad-slider .owl-nav {
    float: right;
    font-size: 20px;
    margin-top: -750px;
    margin-right: -5px;
}
#ad-slider .owl-prev span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 10px 0px 0px 10px;
}
#ad-slider .owl-next span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 0px 10px 10px 0px;
}
#ad-slider .owl-prev {
    background: #fff;
}
#ad-slider .owl-next {
    background: #fff;
}
#ad-slider .slider-details-section {
    border: 1px solid #ccc;
    padding: 20px 10px;
}
#ad-slider .title {
    padding-left: 8px;
    border-left: 4px solid #7bae23;
    font-size: 40px;
    margin-bottom: 0px;
}
#ad-slider .title h5 {
    margin-bottom: 0px;
}
#ad-slider .created-date {
    padding-left: 11px;
    margin-bottom: 5px;
}
#ad-slider .description {
    height: 63px;
}
#ad-slider .member-details img {
    width: 42px;
    border-radius: 50%;
}
.member-details .col-xl-8, .member-details .col-xs-9 {
    padding-left: 8px;
    padding-right: 0px;
}
.member-details .col-xl-3 {
    padding-right: 0px;
}
.col-xl-4.category  {
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
}
.member-details .mem-name {
    margin-top: 5px;
}
#ad-slider .category {
    margin-top: 5px;
}
.category-list .category-item-box {
    width: 160px;
    height: 160px;
    padding: 10px;
    background: #e1e1e1;
    border: 1px solid #fff;
}
.category-list.container {
    max-width: 960px;
    margin: 20px 95px;
}
.category-list .cat-img img {
    width: 100px;
}
.category-list .cat-img {
    text-align: center;
}
.category-list .cat-title {
    margin-top: 12px;
    text-align: center;
}
.category-list .cat-title h4 {
    font-size: 18px;
    font-weight: 400;
}
.category-list .category-item-box:hover {
    -webkit-box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    -moz-box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    z-index: 9;
}
/*.ad-item-box {
    border-bottom: 1px solid #ccc;
}
.ad-item-image {
    margin-bottom: 25px;
}*/
.ad-title a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
.ad-title a:hover {
    color: #002bc8;
}
.ad-city {
    font-size: 13px;
    color: #7f7d86;
    font-weight: 400;
}
.ad-city.title {
    font-size: 13px;
    color: #7f7d86;
    font-weight: 400;
}
.ad-category {
    font-size: 13px;
    color: #7f7d86;
    font-weight: 400;
}
.ad-category.title {
    font-size: 14px;
    color: #7f7d86;
    font-weight: 400;
}
.ad-time {
    float: right;
}
.ad-item-image {
    border-right: 1px solid #eee;
}
.w-personal-info.category-list li {
    padding: 5px 0px;
}
.category-list .category-icon img {
    width: 30px;
    margin-right: 10px;

}
.ad-breadcrumbs {
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 13px;
}
/*.breadcrumb-item:hover {
    color: #002bc8;
    font-weight: 400;
    cursor: pointer;
}*/
#galleria{height:600px}
.ad-main-title {
    font-size: 22px;
    color: #002bc8;
    font-weight: 600;
}
.ad-sub-topic {
    font-size: 16px;
    color: #708df5cc;
    font-weight: 400;
    margin-bottom: 10px;
}
.ad-contact-details img {
    width: 42px;
    margin-right: 20px;
}
.ad-contact-details {
    padding: 20px 10px;
}
.ad-contact-details ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

#more-ads-slider .owl-nav {
    float: right;
    font-size: 20px;
    margin-top: -476px;
}
#more-ads-slider .owl-prev span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 10px 0px 0px 10px;
}
#more-ads-slider .owl-next span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 0px 10px 10px 0px;
}
#more-ads-slider .owl-prev {
    background: #fff;
}
#more-ads-slider .owl-next {
    background: #fff;
}
.ad-contact-details .contact-details {
    font-size: 17px;
}
.ad-category-details {
    margin-top: 20px;
    font-size: 15px;
    cursor: default;
}
.ad-category-details svg.fa-tag, .ad-category-details svg.fa-map-marker {
    color: #8d0808;
    font-size: 18px;
    margin-right: 15px;
}
.price-tag {
    margin-top: 10px;
}
.price-tag span {
    font-size: 27px;
    color: #002bc8;
}
.ad-description p {
    margin: 10px 0 25px;
}
#galleria.no-images {
    height: 10px;
}
#ad-slider .title a {
    font-size: 18px;
}
.owl-theme .owl-nav .disabled span {
    opacity: 0.5;
    cursor: default;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}
.owl-theme .owl-nav .disabled {
    opacity: 1;
}
#ad-slider .owl-prev, #ad-slider .owl-next {
    color: #6c6c6c;
}
#ad-slider .owl-prev:hover, #ad-slider .owl-next:hover {
    color: #aeaeae;
}
#ad-slider .owl-nav .disabled {
    color: #ddd0d0;
}
#ad-slider .owl-nav .disabled:hover {
    color: #ddd0d0;
}
#more-ads-slider .owl-prev, #more-ads-slider .owl-next {
    color: #6c6c6c;
}
#more-ads-slider .owl-prev:hover, #more-ads-slider .owl-next:hover {
    color: #aeaeae;
}
#more-ads-slider .owl-nav .disabled {
    color: #ddd0d0;
}
#more-ads-slider .owl-nav .disabled:hover {
    color: #ddd0d0;
}
.owl-theme .owl-dots {
    margin-top: 20px;
}
#ad-slider .owl-prev {
    margin-right: -6px;
}
#more-ads-slider .owl-prev {
    margin-right: -6px;
}
.slider-item-footer h6 {
    font-size: 12px;
    margin-bottom: 0px;
}

/***********************Index Category Section ***************************/
.bg--dark {

    background-color: #111111;

}
.padding-bottom-100 {

    padding-bottom: 100px;

}
.padding-top-100 {

    padding-top: 100px;

}
.overlay-dark-70 {

    position: relative;

}
.overlay-dark-70::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}
.overlay-dark-70 > div {

    position: relative;
    z-index: 7;

}
.category-box-layout1 {

    border-radius: 4px;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;

}
.category-box-layout1 .item-icon {

    order: 1;
    /*background-color: #ff4a52;*/
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.category-box-layout1 .item-icon i {

    font-size: 42px;

}
.category-box-layout1 .item-icon i::before {
    font-size: 42px;
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    margin-left: 0;
}
.category-box-layout1 .item-title {
    font-size: 20px;
    font-weight: 600;
    color: #111111;
    margin-bottom: 10px;
    display: inline-block;
}
.category-box-layout1 .item-title a {
    color: #002bc8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.category-box-layout1:hover .item-icon {
    -webkit-box-shadow: 0px 10px 12px 0px #b6b6b6;
    -moz-box-shadow: 0px 10px 12px 0px #b6b6b6;
    box-shadow: 0 10px 12px 0px #b6b6b6;
}
.heading-center {
    text-align: center;
}
.section-heading {
    margin-bottom: 40px;
}
.heading-light .item-sub-title, .heading-light .item-title {
    color: #ffffff;
    font-weight: 600;
}
.section-heading .item-sub-title {
    margin-bottom: 15px;
}
.heading-light .item-sub-title, .heading-light .item-title {
    color: #ffffff;
}

/*******************Index Ad boxes ************************/
.no-equal-item   {
    position: absolute;
    left: 0px;
    top: 561px;
}
.product-box.border-box {
    box-shadow: none;
}
.product-box {
    border-radius: 4px;
    margin-bottom: 3rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 0px 0px #d7d7d7;
    -moz-box-shadow: 0px 1px 0px 0px #d7d7d7;
    box-shadow: 0 1px 0px 0px #d7d7d7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.listing-box-grid .product-box .item-img {
    border-radius: 4px 4px 0 0;
}
.product-box .item-img {
    position: relative;
}
.product-box .item-img .item-status.active {
    display: block;
}
.product-box .item-img .status-open {
    padding: 5px 20px 14px 35px;
    background-image: url("../img/icon/save.png");
    right: -9px;
    top: 20px;
}
.product-box .item-img .item-status {
    display: none;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
}
.product-box .item-img .status-save {
    padding: 7px 15px 14px 30px;
    background-image: url("img/icon/save.png");
    right: -9px;
    top: 70px;
}
.product-box .item-img .item-status {
    display: none;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    width: 117px;
}
.listing-box-grid .product-box .item-img .grid-view-img {
    display: block;
}
.listing-box-grid .product-box .item-img img {
    border-radius: 4px 4px 0 0;
}
.img-fluid {
    max-width: 100%;
    height: auto;

}
.listing-box-grid .product-box .item-img .item-rating {
    left: inherit;
    right: 15px;
    bottom: 15px;
}
.product-box .item-img .item-rating {
    position: absolute;
    z-index: 5;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product-box .item-img .item-rating li {
    display: inline-block;
}
.product-box .item-img .item-rating li > i {
    font-size: 14px;
    color: #ffb300;
}
.listing-box-grid .product-box .item-img .item-logo {
    bottom: -30px;
    left: 30px;
}
.product-box .item-img .item-logo {
    position: absolute;
    z-index: 5;
}
.listing-box-grid .product-box .item-img img {
    border-radius: 4px 4px 0 0;
}
.product-box .item-img .item-logo img {
    width: 60px;
    border-radius: 30px 30px;
    border: 3px solid #fff;
}

.bg--gradient-50::after {
    opacity: 0.5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #111);
    background-image: -moz-linear-gradient(transparent, #111), -moz-linear-gradient(transparent, #111);
    background-image: -o-linear-gradient(transparent, #111), -o-linear-gradient(transparent, #111);
    background-image: linear-gradient(transparent, #111), linear-gradient(transparent, #111);
    content: "";
    height: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
.listing-box-grid .product-box .item-content {
    padding: 50px 30px 30px;
    border-radius: 0 0 4px 4px;
}
.product-box.border-box .item-content {
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
}
.product-box .item-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}
.product-box .item-content .item-title {
    font-weight: 600;
    margin-bottom: 10px;
}
.product-box .item-content .item-title a {
    color: #111111;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 22px;
}
.item-paragraph p{
    margin: 0 0 20px 0;
    font-size: 16px;
}
.product-box .item-content .contact-info {
    margin-bottom: 20px;
}
.product-box .item-content .contact-info li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    font-size: 15px;
}
.product-box .item-content .contact-info li svg {
    margin-right: 10px;
    color: #002bc8;
    position: absolute;
    left: 0;
    top: 3px;
    line-height: 1;
    font-size: 20px;
}
.product-box .item-content .contact-info li svg::before {
    font-size: 20px;
}
.product-box .item-content .meta-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.product-box .item-content .meta-item li.ctg-name {
    margin-bottom: 5px;
    margin-top: 5px;
}
.product-box .item-content .meta-item li.ctg-name a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #111111;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-box .item-content .meta-item li.ctg-name a i {
    margin-right: 10px;
    border: 1px solid #ff4a52;
    color: #ff4a52;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-box .item-content .meta-item li.ctg-name a img {
    margin-right: 10px;
    /*border: 1px solid #ff4a52;*/
    color: #ff4a52;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-box .item-content .meta-item li.ctg-name a i::before {
    font-size: 20px;
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    margin-left: 0;
}
.product-box .item-content .meta-item li.entry-meta {
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-box .item-content .meta-item li.entry-meta ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.product-box .item-content .meta-item li.entry-meta ul li {
    margin-right: 10px;
}
.product-box .item-content .meta-item li.entry-meta ul li a {
    display: block;
    border: 1px solid #ff4a52;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    color: #ff4a52;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-box .item-content .meta-item li.entry-meta ul li:last-child {
    margin-right: 0;
}
.hot-items {
    margin-top: 80px;
}
.heading-dark .item-title {
    color: #111111;
    font-weight: 600;
}
.heading-dark .item-sub-title {
    color: #111111;
    font-weight: 600;
}

/************************* Footer *************************/
.footer-top-wrap {

    background-color: #11215a;
    padding: 90px 0px 38px;
    position: relative;
    z-index: 1;

}
.footer-box {

    margin-bottom: 30px;

}
.footer-box .footer-logo {
    /*text-align: center;*/
    padding-bottom: 25px;

}
.footer-logo img {
    width: 200px;
}
.footer-box .footer-about {

    font-size: 17px;
    padding-bottom: 5px;

}
.footer-box .footer-contact-info {

    margin-bottom: 32px;

}
.footer-box .footer-contact-info li {

    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 42px;

}
.footer-box .footer-contact-info li svg {

    font-size: 20px;
    color: #fefefe;
    top: 5px;
    left: 0;
    position: absolute;

}
.footer-box .footer-header {

    position: relative;

}
.footer-box .footer-header h3 {

    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 20px;

}
.footer-box .footer-header::after {

    content: "";
    width: 50px;
    height: 4px;
    background-color: #002bc8;
    bottom: 0;
    left: 0;
    position: absolute;

}
.footer-box .widget_nav_menu li {

    margin-bottom: 10px;

}
.footer-box .widget_nav_menu li a {

    font-size: 17px;
    color: #999999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.footer-box .footer-social {

    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.footer-box .footer-social ul li {

    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;

}
.footer-box .footer-social ul li a {

    background-color: #002bc8;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.footer-box ul.folow-us {

    margin-top: 30px;

}
.footer-box ul.folow-us li {

    margin-bottom: 5px;

}
.footer-box ul.folow-us li a {

    display: inline-block;

}
.footer-box ul.folow-us li a img {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.footer-top-wrap::after {

    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("img/figure/footer-bg.png") bottom left no-repeat;
    width: 100%;
    height: 103px;

}
.footer-bottom-wrap {

    background-color: #11215a;
    min-height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #484747;
}
.footer-container {
    max-width: 1106px;
    margin-left: auto;
    margin-right: auto;
}
.ui-block.ui-ad-block {
    border-radius: 0px;
margin-bottom: 0px;
}

/**************banner ***************/
.main-banner-wrap-layout1 {

    padding: 70px 0 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
margin-top: -15px;
}
.home-banner.main-banner-wrap-layout1 {
    padding: 200px 0 200px;
}
.bg--gradient-top-30 {

    position: relative;

}
.bg-common {

    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;

}
.overlay-dark-30 {

    position: relative;

}
.overlay-dark-30::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

}
.overlay-dark-30 > div {

    position: relative;
    z-index: 7;

}
.main-banner-box-layout1 {

    text-align: center;

}
.main-banner-box-layout1 .item-sub-title {

    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 600;

}
.main-banner-box-layout1 .item-title {

    color: #ffffff;
    margin-bottom: 0px;
    font-weight: 600;

}
.intro-section p {
    font-size: 16px;
    line-height: 28px;
letter-spacing: 1px;
}
.intro-section h2 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}
.home-banner .s002 {
    padding: 40px;
}
.body-content {
    margin-top: 75px;
    margin-bottom: 75px;
}
.header {
    background-color: #11215a;
}
.product-box .item-content .item-title a:hover {
    color: #002bc8;
}
.category-list a:hover {
    color: #002bc8;
}
.category-list a {
    color: #000;
}
.breadcrumb-item a {
    color: #888da8;
    font-weight: 400;
}
.breadcrumb-item a:hover {
    color: #002bc8;
    font-weight: 400;
}
/*.more-ads-section {
    height: 340px;
}
#more-ads-slider .owl-next {
    margin-left: 494px;
    float: right;
    z-index: 999;
}
#more-ads-slider .owl-prev {
    float: left;
    z-index: 999;
}*/
@media(min-width: 1400px) {
    .container {
        /*max-width: 1323px;*/
        max-width: 1253px;
    }
}
