/* 
    Created on : Mar 20, 2019, 11:12:28 AM
    Author     : W j K n ¨
*/

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    overflow-y: scroll; 
}
body {
    height: 100%;
    background: 
        linear-gradient(
        rgba(0, 1, 2, 0.26), 
        rgba(0, 1, 2, 0.49) 
        ),
        url('../image/login-banner1.jpg');
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}
a {
    text-decoration:none;
    color:#003263;
    transition:.5s ease;
    &:hover {
        color:darken(#1ab188,5%);
    }
}
.form {
    background:#ffffffb3;
    padding: 40px;
    max-width:600px;
    margin:1% auto;
    border-radius:4px;
    box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}
.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 25px 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li a {
        display:block;
        text-decoration:none;
        padding:15px;
        background:rgba(#a0b3b0,.25);
        color:#a0b3b0;
        font-size:20px;
        float:left;
        width:50%;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        &:hover {
            background:darken(#1ab188,5%);
            color:#ffffff;
        }
    }
    .active a {
        background:#1ab188;
        color:#ffffff;
    }
}
.tab-content > div:last-child {
    display:none;
}
h1 {
    text-align:center;
    color: #003263;
    font-weight: 600;
    margin: 0 0 25px;
    font-size: 25px;
}
label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color:#00326380;
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:16px;
    .req {
        margin:2px;
        color:#1ab188;
    }
}
label.active {
    transform:translateY(32px);
    left:2px;
    font-size:14px;
    .req {
        opacity:0;
    }
}
label.highlight {
    color:#ffffff;
}
input, textarea {
    font-size:16px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid #00326380;
    color:#003263;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
        outline:0;
        border-color:#1ab188;
    }
}
textarea {
    border:2px solid #a0b3b0;
    resize: vertical;
}
.field-wrap {
    position:relative;
    margin-bottom:40px;
}
.top-row::after {

    content: "";
    display: table;
    clear: both;
}
.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:10px 0;
    font-size:20px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:#003263;
    color:#ffffff;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
        background:darken(#1ab188,5%);
    }
}
#btnRegister {
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.button-block {
    display:block;
    width:100%;
}
.forgot {
    margin-top:-20px;
    text-align:right;
}
.tab-group .active a {
    background: #003263;
    color: #ffffff;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background: rgb(228, 228, 228);
    color: #003263;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 25px 0;
}
.tab-group::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'Titillium Web', sans-serif;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.field-wrap {
    position: relative;
    margin-bottom: 25px;
}
.top-row > div:last-child {
    margin: 0;
}
.or {
    position: relative;
    width: 100%;
    height: 1px;
    margin: 2rem 0 2rem;
    background-color: #fff;
}
.or::after {
    content: 'OR';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #b5b5b6;
    padding: 0 25px;
    font-size: 10px;
    z-index: 5;
    color: #fff;
}
.svg-inline--fa.fa-w-9 {
    width: .5625em;

}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.btn-group-lg > .btn, .btn-lg {
    padding: 0.7rem 2rem;
}
#register {
    padding: 0;
}
.author-thumb img.signin {
    border-radius: 0;
    opacity: 0.8;
}
.btn {
    margin-bottom: 0px;
}
.tab-content > div#forgot-password {
    display: block;
} 
#forgot-password p {
    margin-bottom: 0;
    padding: 0px 0px 15px;
    color: #3a5c7b;
}

/*login2.php*/
.upload-pro-pic {
    text-align: center;
    margin: 30px auto;
    width: 243px;
    margin-bottom: 50px;
}
.upload-span {
    height: 243px;
    width: 243px;
    padding-top: 8%;
    font-size: 16px;
}
.upload-span2 {
    height: 167px;
    width: 313px;
    padding-top: 5%;
}
.upload-cover-pic {
    margin: 10px auto;
    width: 313px;
    margin-bottom: 50px;
}
a#upload-pro-pic, a#upload-cover-pic {
    cursor: pointer;
    text-align: center;
    color: #fff;

}
.upload-cover-pic input[type="file"] {
    min-height: 168px;
    min-width: 243px;
    left: 0px;
    text-align: left;
    top: 0px;

}
.nav-btn label {
    position: relative;
    left: 0;
    transform: translateY(0px);
}
@media(max-width:576px) {
    .bg-facebook {
        margin-bottom: 12px;
    }
    .upload-span {
        padding-top: 27%;
    }
    .upload-cover-pic {
        width: 250px;
    }
    .upload-span2 {
        width: 250px;
        padding-top: 15%;
    }
}
@media(min-width:576px) and (max-width: 990px) {
    .upload-span {
        padding-top: 17%;
    }
    .upload-span2 {
        padding-top: 9%;
    }
}
@media(width: 800px) {
    .upload-span {
        padding-top: 15%;
    }
}
@media(min-width: 1200px) and (max-width: 1400px) {
    label.active {
        transform: translateY(32px);
    }
}
.or{
    background-color: #b5b5b6;
}