/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2019, 10:24:09 AM
    Author     : W j K n ¨
*/

@media(max-width:576px) {
    body, p {
        font-size: 14px;
    }
    .header {
        padding-right: 20px;
        padding-left: 20px;
    }
    .nav {
        display: block;
    }
    #site-header-responsive .responsive-header-logo {
        width: 100px;
        margin-top: -6px;
        margin-left: 10px;
    }
    #site-header-responsive .nav-item:first-child {
        left: -16px;
    }
    .f-a-size {
        font-size: 18px;
    }
    /*    #site-header-responsive .mobile-app-tabs svg {
            height: 20px;
            width: 17px;
        }*/
    #site-header-responsive .nav-link svg.fa-home {
        margin-left: -32px;
    }
    #site-header-responsive .nav-link svg.olymp-newsfeed-icon {
        margin-left: -16px;
        height: 19px;
    }
    header .control-icon > svg {
        margin-left: -2px;
    }
    .avatar {
        width: 22px;
    }
    .mobile-app-tabs {
        padding: 0 2px;
    }
    .nav-item a svg {
        color: #fff;
    }
    .mobile-app-tabs svg {
        fill: #fff;
    }
    .hidden-xs {
        display: none;
    }
    .ui-block.first-block {
        margin-top: 20px;
    }
    .container.index-container {
        margin-left: 0px;
        margin-right: 0px;
    }
    .main-header {
        margin-top: 10px;
    }
    .main-header-content p {
        padding: 0px 10px;
    }
    .upload-group-pro-pic.pro-img {
        margin: 10px 55px 45px;
    }
    .upload-group-cover-pic {
        margin: 0px 0px 22px;
    }
    .upload-group-span2 input[type="file"] {
        min-height: 167px;
    }
    .upload-group-pro-pic.pro-img {
        margin: 10px 55px 45px;
    }
    .upload-group-span2 {
        width: 283px;
    }
    .create-group .content {
        margin: 37% auto;
    }
    .create-group {
        margin-bottom: 15px;
    }
    .top-header.top-header-favorit .profile-menu {
        flex-direction: row;
    }
    .top-header.top-header-favorit .top-header-author {
        bottom: auto;
        top: 0;
        margin-top: 62px;
    }
    .ui-block.group-settings-btn .col-xs-4 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .ui-block.group-settings-btn .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .join-group-btn {
        margin-left: 8px;
        padding: .6rem .6rem;
        font-size: 11px;
    }
    .container.login-container {
        margin-left: 20px;
        margin-right: 20px;
        width: 91%;
    }
    .open-responsive-menu {
        display: none;
    }
    .landing-content h1 {
        margin-top: 35px;
    }
    .upload-group-pro-pic {
        text-align: center;
        margin: 10px 84px 45px;
    }
    .upload-group-span2 {
        width: 336px;
        padding-top: 15%;
    }
    .nav-item a svg.olymp-chat---messages-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.olymp-happy-face-icon {
        width: 23px;
        margin-top: 10px;
    }
    .nav-item a svg.fa-users {
        margin-top: 8px;
    }
    .nav-item .author-thumb img {
        margin-top: 9px;   
    }
    profile-section {
        padding: 30px 0 0;
        z-index: 5;
    }
    .control-block-button .more:hover .more-dropdown {
        z-index: 9999;
        position: relative;
    }
    .control-block-button .more-dropdown {
        position: relative;
        z-index: 999;
    }
    .top-header-author {
        margin-top: 0px;
    }
    #site-header-responsive .nav-link img {
        width: 22px;
    }
    #site-header-responsive .responsive-header-logo img {
        width: 94px;
    }
    #site-header-responsive .nav-link .author-thumb img {
        margin-top: 0px;
    }
    .control-icon {
        margin-top: -7px;
    }
    .mobile-app-tabs{
        background-color: initial;
    }
    .profile-menu li a, .profile-menu li > div{
        font-size: 13px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    .chat-field{
        margin-right: -16px;
    }
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-span2{
        width: 307px;
    }
    .btn-post{
        font-size: 2px;
    }

    .icon-status.online{
        margin-top: 2px;
        margin-left: 0px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
    }
    .nav-link img{
        padding-bottom: 3px;
    }
    .nav-link1 img{
        padding-bottom: 8px;
    }
    .header-spacer {

        display: block;
        height: 15px;

    }
    .btn-post{
        padding: 12px 24px;
        font-size: 14px;
        display: inline-flex;
        margin: auto;
    }
    .nav > .nav-links > a:last-child:hover {
        background-color: #003263;
    }
    .nav > .nav-links  {
        z-index: 999;
    }
    .nav {
        display: block;
    }
    .friend-request .request-label-avatar{
        right: 18px;
        top: 10px;
    }
    .panel{
        margin-right: 18px;
        width: 135px;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;
    }
    .copyright {
        padding: 20px 10px 0;
        margin-top: -40px;
    }
    .footer-bottom-wrap {
        min-height: 60px;
    }
    .notification-list-xs {
        margin-bottom: 20px;
    }
    .nav-links a img.avatar {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    .search-bar.w-search.search-bar-xs {
        margin: 5% 3%;
    }

}

@media(min-width:577px) and (max-width:990px) {
    .header {
        display: block;

    }
    body, p {
        font-size: 14px;
    }
    #site-header-responsive .responsive-header-logo {
        width: 150px;
    }
    #site-header-responsive .nav-item a svg {
        color: #fff;
    }
    #site-header-responsive .mobile-app-tabs svg {
        fill: #fff;
    }
    #site-header-responsive .nav-item:first-child {
        left: -20px;
    }
    .open-responsive-menu {
        display: none;
    }
    .container.login-container {
        margin-top: 40px;
    }
    #newsfeed-items-grid .ui-block:first-child {
        margin-top: 20px;
    }
    .ui-block.first-block {
        margin-top: 20px;
    }
    .hidden-sm {
        display: none;
    }
    .mobile-app-tabs{
        background-color: initial;
        height: 40px;
    }
    .header .page-title{
        display: inherit;
        padding: 7px 20px 58px 6px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .control-block .author-thumb{
        margin-right: -49px;
    }
    .header{
        padding-left: 91px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }

    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-pro-pic.pro-img{
        margin: 8px -6px 36px;
    }
    .upload-group-span2{
        width: 259px;
    }
    .ui-block.first-block{
        margin-top: 20px;
        margin-left: -85px;
    }
    .control-icon{
        margin-right: 20px;
    }
    .friend-request .request-label-avatar{
        right: 18px;
    }
    .panel{
        width: 216px;
    }
    .ui-block.first-block{
        margin-left: 2px;
    }
    .footer-top-wrap {
        padding-left: 21px;
        padding-right: 16px;
    }
    .footer-about {
        margin-top: 25px;
    }
    .footer-box .footer-contact-info li {
        padding-left: 22px;
    }
    .footer-box .footer-social ul li a {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .footer-box .footer-contact-info li svg {
        font-size: 15px;
    }
    .page-title img {
        width: 135px;
        padding-top: 5px;
    }
    .header .page-title {
        min-width: 100px;

    }
    .search-bar.w-search {

        min-height: 10px;
        margin-top: 11px;
        height: 36px;
        width: 175px;
        margin-left: 0px;
    }
    .is-empty {
        margin-right: 0px;
    }
    .control-icon .more-dropdown {
        right: -15px;   
        top: calc(100% + 13px);
    }
    .notification-list .notification-event {
        padding-left: 45px;
        width: 100%;
        margin-top: -34px;
    }
    #name-list-append .author-thumb img {
        height: 30px;
        width: 30px;
    }
    .control-block-button .btn-control:last-child {
        /*margin-left: 464px;*/
        margin-left: 0px;
    }
    .profile-section .control-block-button {
        left: 94%;
    }
    
}

@media(min-width:992px) and (max-width:1200px) {
    .hidden-md {
        display: none;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
}

@media(min-width:1200px) {
    .hidden-lg {
        display: none;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    /*    .upload-group-pro-pic.pro-img{
            margin: 10px 100px 45px;
        }
        .upload-cover-pic, .upload-group-cover-pic{
            margin: 10px 12px;
        }*/
}

@media(width:360px) {
    .profile-menu li a, .profile-menu li > div{
        font-size: 12px;
    }
    .mobile-app-tabs{
        background-color: initial;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    .chat-field{
        margin-right: -16px;
    }
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-cover-pic{
        margin: 0px -25px 22px -10px;

    }
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 299px;
    }
    .upload-group-span2{
        width: 299px;
    }
    upload-group-span2{
        padding-left: 25px;
    }
    .panel{
        margin-right: 11px;
        width: 167px;
    }


}

@media(width:375px) {
    .mobile-app-tabs{
        background-color: initial;
    }
    .profile-menu li a, .profile-menu li > div{
        font-size: 12.5px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    .chat-field{
        margin-right: -16px;
    }
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-span2{
        width: 297px;
    }
    .panel{
        width: 214px;
    }

}
@media(width:414px) {
    .mobile-app-tabs{
        background-color: initial;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    .chat-field{
        margin-right: -16px;
    }
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-pro-pic.pro-img{
        margin: 6px 80px 43px;
    }
    .upload-group-span2{
        width: 336px;
    }
    .panel{
        width: 150px;
    }
    .top-header.top-header-favorit .top-header-author .author-thumb{
        margin-top: 25px;
    }
}
@media (width: 768px){
    .mobile-app-tabs{
        background-color: initial;
    }

    .header{
        padding-left: 6px;
        padding-right: 1px;
        height: 64px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }

    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }

    .responsive-header-logo img{
        max-width: 100%;
        margin-left: -283px;
    }
    .mobile-app-tabs{
        margin-left: 301px;
    }

    .top-header-author{
        bottom: 200px;
    }
    .control-block-button .btn-control:last-child{
        /*margin-left: 464px;*/
        margin-left: 0px;
    }
    .top-header{
        height: 316px;
    }
    .profile-menu{
        justify-content: space-evenly;
    }
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 312px;
    }
    .upload-group-span2{
        width: 312px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
        top: -9px;
        left: 0px;
    }

    .control-icon{
        margin-top: -4px;
    }
    .btn-primary1{
        margin-left: 237px;
    }
    .responsive-header-logo{
        margin-right: -68px;
    }
    /*      .header-content-wrapper{
            margin-top: -56px;
            margin-right: -9px;
        }*/
    .is-empty{
        /*margin-right: -341px;*/
    }
    .friend-request .request-label-avatar{
        right: 18px;
    }
    .panel{
        margin-right: 47px;
        width: 240px;
    }
    .title a{
        font-size: 12px;
    }
    .huge{
        font-size: 38px;
        padding-right: 5px;
    }
    .profile-menu{
        /*margin-left: 47px;*/
        margin-left: 0px;
    }
    .panel-content{
        width: 289px;
    }
    .control-block{
        /*margin-top: -56px;*/
    }


}

@media (width:1024px){
    .header .page-title{
        display: inherit;
        padding: 9px 313px 15px 9px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-pro-pic.pro-img{
        margin: 8px 26px 39px;
    }
    .upload-group-span2{
        width: 236px;
    }
    .control-icon{
        margin-right: 19px;
    }
    .friend-request .request-label-avatar{
        right: 18px;
    }
    .panel{
        width: 180px;
    }
    .panel-content{
        width: 231px;
    }

}
@media (width: 640px){
    .header{
        padding-left: 27px;
        padding-right: 27px;        
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 80%;
        /*margin-left: -283px;*/
    }
    .top-header-author{
        bottom: 200px;
    }
    .control-block-button .btn-control:last-child{
        margin-left: 464px;
    }
    .top-header{
        height: 316px;
    }
    .profile-menu{
        justify-content: space-evenly;
    }
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 312px;
    }
    .upload-group-span2{
        width: 266px;
    }
    .icon-status.online{
        margin-top: 0px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
    }
    .has-item img{
        padding-bottom: 14px;
        height: 37px;
        width: 37px;
    }

    .nav-link1 img{
        padding-bottom: 2px;
    }
    .mobile-app-tabs{
        margin-left: 138px;
    }
    /*    .btn-md-2{
            margin-right: 53px;
        }
        .ui-block{
            margin-left: -85px;
        }*/
    .responsive-header-logo img{
        padding-bottom: 4px;
        margin-left: -40px;
    }
    .nav-link1 img{
        padding-bottom: 2px;
    }
    .mobile-app-tabs{
        margin-left: 138px;
    }
    .btn-primary1{
        margin-left: 241px;
    }
    .responsive-header-logo{
        margin-left: -89px;
    }
    .nav-item:first-child{
        left: 65px;
    }
    .header-content-wrapper{
        margin-top: -56px;
        margin-right: -9px;
    }
}
@media (width: 600px){
    .header{
        padding-right: 1px;
        padding-left: 7px;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .profile-menu{
        margin-bottom: 6px;
    }
    .has-items img{
        max-width: 61%;
    }
    .nav-link img{
        max-width: 61%; 
    }
    .responsive-header-logo img{
        max-width: 85%;

    }
    .top-header-author{
        bottom: 200px;
    }
    .control-block-button .btn-control:last-child{
        margin-left: 464px;
    }
    .top-header{
        height: 316px;
    }
    .profile-menu{
        justify-content: space-evenly;
    }
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 312px;
    }
    .upload-group-span2{
        width: 245px;
    }
    .icon-status.online{
        margin-top: 0px;
    }
    .author-thumb .icon-status{
        width: 6px;
        height: 6px;
    }
    .has-item img{
        padding-bottom: 14px;
    }
    /*    .btn-md-2{
            margin-right: 85px;
        }*/
    /*    .ui-block{
            margin-left: -85px;
        }*/
    .responsive-header-logo img{
        margin-left: -53px;
    }
    .mobile-app-tabs{
        margin-left: 140px;
    }
    .has-item img{
        height: 36px;
        width: 36px;
    }
    .avatar{
        width: 44px;
    }
    .nav-link1 img{
        margin-bottom: 4px;
    }
    .mobile-app-tabs{
        margin-left: 74px;
    }
    .is-empty{
        margin-right: -341px;
    }
    .friend-request .request-label-avatar{
        right: 18px;
    }
    .control-block{
        margin-top: -56px;
    }
    .panel{
        margin-right: 45px;
    }
    .panel-content{
        width: 275px;
    }


}
@media (width: 800px){
    .control-block-button .btn-control:last-child{
        margin-left: 433px;
    }
    .top-header-author{
        bottom: 174px;
    }
    .top-header{
        height: 328px;
    }
    .upload-cover-pic, .upload-group-cover-pic{
        margin: 6px 15px;
    }
    .upload-group-span2{
        width: 216px;
    }
    .avatar{
        width: 28px;
    }
    .has-items-news img{
        height: 21px;
    }
    .panel{
        width: 205px;
    }

}
@media(min-width:1200px) and (max-width:1440px){
    .hidden-lg {
        display: none;
    }
    .ui-block-title.ad-details-section{
        background: #fff;

    }
    .ui-block-title.ad-details-section:hover{
        background: #abbfbf4d;
    }
    .notification-list.chat-message{
        background: #fff;
    }
    .notification-list.chat-message:hover{
        background: #abbfbf4d;
    }
    /*    .chat-field{
            margin-right: -17px;
        }*/
    .ui-block-title.reciever-details{
        background: #fff;
    }
    .chat-field textarea{
        background: #fff;
    }
    .ui-block-title{
        background: #fff;  
    }
    .upload-group-pro-pic.pro-img{
        margin: 10px 88px 45px;
    }
    .upload-cover-pic, .upload-group-cover-pic{
        margin: 10px 0px;
    }

    .upload-group-span2{
        /*width: 312px;*/
    }
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 342px;
    }
}
@media (width: 1440px){
    .uploadphotobx2 img, .uploadgroupphotobx2 img{
        width: 313px;
    }
    .panel-content{
        width: 180px;
    }
    .panel-1{
        width: 164px;
    }
    .page-title img {
        padding-top: 0px;
        /*width: 167px;*/
        height: 44px;
        width: auto;
    }
}
@media (width: 1280px){
    .upload-group-span2{
        width: 292px;
    }
    .page-title img{
        width: 140px;
        padding-top: 4px;
    }
    .avatar{
        margin-top: 6px;
    }
    .icon-status.online{
        margin-top: 7px;
    }
    .panel{
        margin-right: 55px;
    }
    .panel-content{
        width: 155px;
    }

}
@media (width: 412px){
    .upload-group-span2{
        width: 334px;
    }
    .upload-group-pro-pic.pro-img{
        margin: 10px 77px 45px;
    }
    .panel{
        width: 152px;
    }
}
@media (max-width: 1080px){
    .header {
        height: 56px;
        padding-left: 0;
        padding-right: 0;

    }
    .header-content-wrapper {
        height: 100%;
        float: right;
    }
    .control-block {
        padding: 0px 20px 0;
        float: right;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }
    #site-header .more {

        padding-bottom: 4px;

    }
    #site-header .control-icon {

        text-align: center;

    }
    .control-icon.has-items {

        fill: #fff;

    }
    .control-icon {

        margin-right: 22px;

    }
    .more {

        position: relative;
        transition: all .3s ease;
        color: #888da8;
        fill: #c0c4d8;

    }
    .control-icon {

        margin-right: 29px;
        fill: #9a9fbf;
        margin-top: 5px;

    }
    .control-icon a {

        color: #9a9fbf;

    }
    .control-icon span, .author-page span {

        display: block;

    }
    #site-header .control-icon img {

        height: 23px;
        opacity: 0.8;

    }
    .control-icon span img {

        float: none;

    }
    .control-icon span.nav-topic {
        display: none;

    }
    .header .page-title {

        display: inherit;
        padding: 7px 20px 7px 17px;
    }
    #site-header .control-icon img:hover {

        height: 23px;
        opacity: 1;
        fill: #fff;


    }
    #site-header .control-icon img.follower-request:hover {

        height: 26px;

    }
}
@media (max-width: 384px){
    .panel{
        width: 192px;
    }
    .panel-content{
        width: 170px;
    }
}

@media(min-width:1400px) {
    .container {
        max-width: 1253px;
    }
}