/* 
    Created on : Dec 17, 2018, 5:27:41 PM
    Author     : W j K n ¨
*/
a:hover {
    color: #003263;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0px;
    width: 100%;
}
.header {
    background-color: #003263;
}
.header .page-title {
    /*padding: 5px 10px 5px 80px;*/
    /*padding: 9px 10px 9px 80px;*/
    padding: 7px 10px 7px 80px;
}
.page-title img {
    width: 167px;
}
.link-find-friend {
    padding: 25px 13px;
}
#register {
    padding: 20px 25px 35px;
}
.alert-position {
    padding: 10px 24px 0;
}
.alert-position .alert {
    margin-bottom: 0;
}
.hidden {
    display: none;
}
.uploadphotobx, .uploadgroupphotobx, .uploadphotobx2, .uploadgroupphotobx2 {
    background: transparent;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.uploadgroupphotobx i, .uploadphotobx i {
    font-size: 48px;
    color: #999;
    display: block;
    margin-bottom: 15px;
}
.uploadphotobx img {
    display: block;
    width: 250px;
    margin-bottom: -29px;
}
.uploadgroupphotobx img {
    display: block;
    width: 167px;
    margin-bottom: -29px;
}
.uploadphotobx2 img, .uploadgroupphotobx2 img {
    display: block;
    width: 387px;
    margin-bottom: -29px;
    height: 167px;
}
.proimg img {
    display: block;
    width: 250px;
    margin-bottom: -29px;
    border-radius: 50%;
}
.progroupimg img {
    display: block;
    width: 167px;
    height: 167px;
    margin-bottom: -29px;
    border-radius: 50%;
}
.uploadphotobx:hover, .uploadgroupphotobx:hover, .uploadphotobx2:hover, .uploadgroupphotobx2:hover {
    opacity: 0.5;
}
.uploadphotobx .uploadBox input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.uploadphotobx2 .uploadBox2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.uploadgroupphotobx .uploadgroupBox input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 167px;
    min-width: 167px;
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.uploadgroupphotobx2 .uploadgroupBox2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 167px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-pro-pic{
    text-align: center;
    margin:10px 69px;
}
.upload-group-pro-pic{
    text-align: center;
    /*margin: 10px 132px 45px;*/
    margin: 10px 85px 45px;
}
.upload-cover-pic, .upload-group-cover-pic {
    text-align: center;
    margin:10px 0px;
}
.upload-span {
    height: 243px;
    width: 243px;
    /*    height: 250px;
        width: 250px;*/
    position: absolute;
    vertical-align: middle;
    padding-top: 20%;
    font-size: 15px;
    background: #0009;
    border-radius: 50%;
    color: #fff;
}
.upload-span2 {
    height: 167px;
    width: 382px;
    /*width: 387px;*/
    position: absolute;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 15px;
    background: #0009;
    border-radius: 0;
    color: #fff;
}
.upload-span input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-span2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-group-span {
    height: 167px;
    width: 167px;
    position: absolute;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 15px;
    background: #0009;
    border-radius: 50%;
    color: #fff;
}
.upload-group-span2 {
    height: 167px;
    width: 312px;
    /*width: 387px;*/
    position: absolute;
    vertical-align: middle;
    /*padding-top: 10%;*/
    padding-top: 13%;
    font-size: 15px;
    background: #0009;
    border-radius: 0;
    color: #fff;
}
.upload-group-span input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.upload-group-span2 input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 250px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
.btn-upload {
    margin-top: 20px;
}
.avatar {
    width: 36px;
}
.registration-login-form p {
    padding-left: 15px;
    margin-bottom: 10px;
}
.main-profile-pic img {
    width: 124px;
}

select.form-control.sub-category-select:not([size]):not([multiple]) {
    height: 58px;
}
.label-floating .form-control.sub-category-select {
    padding: 0.8rem 1.1rem .5rem;
    background: transparent;
    -webkit-appearance: transparent;
}
.alert-in-page {
    padding: 0px 0px 10px;
}
.author-page {
    margin-left: 0px;
}
.friend-groups .friend-avatar .author-thumb img {
    border: none;
    width: 120px;
}
.main-header {
    padding: 70px 0;
    max-width: 100%;
}
.landing-page .header-spacer--standard {
    margin-bottom: 0px;
}
.header-spacer--standard {
    height: 20px;
}
.img-wrap img {
    max-width: 140px;
}
.join-group-btn {
    margin-top: 15px;
    margin-left: 22px;
}
.join-group-section {
    margin-top: 27px;
}
#request-cancel-block .join-group-btn {
    padding-right: 25px;
    padding-left: 25px;
}
.request-label-avatar {
    position: absolute;
    right: 40px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden;
}
.member-request-profile-pic img {
    width: 92px;
    /*width: 42px;*/
}
.friend-requests .author-thumb img {
    width: 42px;
}
.btn-control-square {
    border-radius: 0;
    width: 100px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    fill: #fff;
    font-size: 15px;
}
.notification-list li.hidden {
    display: none;
}
.manage-group-section {
    text-align: right;
}
.search-items {
    background: #fff;
    padding: 14px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}
.notification-list .author-thumb {
    height: 40px;
    width: 40px;
    float: left;
}
.notification-list .notification-event {
    padding-left: 45px;
    width: 80%;
    margin-top: 10px;
}
.friend-requests .notification-icon {
    margin-top: -31px;
}
#name-list-append, #name-list-append-friends{
    position: absolute;
    z-index: 9999;
    width:100%;
}
#name-list-append .author-thumb img, #member-name-list-append .author-thumb img, #name-list-append-friends .author-thumb img {
    height: 40px;
    width: 40px;
}
.search-items.selected {
    background: #e6e6e6;
}
.search-items:hover {
    background: #e6e6e6;
}
.friend-request .request-label-avatar {
    position: absolute;
    right: 27px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100%;
    overflow: hidden;
}
.friend-request .btn-md-2 {
    padding: .8rem 3.1rem .8rem 2.1rem;
    font-size: .688rem;
}
.friend-request {
    text-align: right;
}
._upload {

    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

}
._uploadinput {

    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;

}
._outlinenone {

    outline: none;

}
.flipScrollableArea {

    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

}
.flipScrollableAreaWrap, .native .flipScrollableAreaWrap:active {

    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    height: 150%;

}
.flipScrollableAreaBody {

    position: relative;
    display: inline-block;

}
.flipScrollableAreaContent {
    white-space: nowrap;
}
#facebook ._-kb div {

    font-family: inherit;

}
._1cx1 ._2pko:first-child {

    margin-left: 7px;

}
._uploadedimagesbox, ._uploadedimagesbox_edit {

    display: inline-block;
    vertical-align: top;

}
._uploadedimages {

    display: inline-block;
    margin-left: 5px;
    position: relative;
    z-index: 999;
}
._uploadouterbox, ._uploadouterbox_edit {

    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    left: 0px;
    top: 0px;
    position: absolute;
}
._m {

    position: relative;

}
._6a {

    display: inline-block;

}
._1cx1 ._uploadbox {

    margin-right: 12px;

}
._uploadbox {

    border: 2px dashed #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    min-width: 100px;
    position: relative;
    width: auto;
    background-image: url(../img/icon/EWLe5fNY_Iz.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px;

}
._m ._3jk {

    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

}
._m ._n {

    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;

}
._5f0v {

    outline: none;

}
#facebook .invisible_elem {

    visibility: hidden;

}
.fade .flipScrollableAreaTrack {

    opacity: 0;

}
.flipScrollableAreaTrack {

    display: inline-block;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 7px;
    z-index: 5;

}
._btn._removebtn {

    /*background-image: url(../img/icon/close.png);*/

    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -144px;

}
._buttons {
    position: absolute;
    right: 25px;
    top: 5px;
    z-index: 1;
}
._5upp {

    /*background-color: transparent;*/
    border: 0 none;
    cursor: pointer;
    font-size: 0 !important;
    /*overflow: hidden;*/
    padding: 0;
    vertical-align: middle;

}
._btn {
    height: 12px;
    width: 12px;
}
._42ft {

    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

}
._jfi {

    bottom: 0;
    left: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;

}
._cwf {

    left: 10px;

}
._jfh {

    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 30px;
    z-index: 1;

}
._cwg {

    background-image: url(../img/icon/GivjgjqCUEz.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -150px -407px;
    height: 22px;
    margin: 5px auto;
    width: 24px;

}
._4_z4 {

    right: 10px;

}
._jfh {

    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 50%;
    bottom: 10px;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 30px;
    z-index: 1;

}
._4_z5 {

    background-image: url(../img/icon/TDQFe8QZICs.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -21px -249px;
    height: 20px;
    margin: 5px auto;
    width: 20px;

}
.news-feed-form textarea {
    min-height: 75px;
    border: none;
}
.add-options-message {
    padding: 10px 25px;
    float: left;
    width: 100%;
    border-top: 2px solid #dddddd;
}
input[type='submit'].share-post {
    width: 20%;
    float: right;
}
.form-group.with-icon ._uploadedimages svg {

    display: block;
    position: absolute;
    left: 75px;
    top: 19px;
    margin-top: -10px;
    width: 25px;
    text-align: right;
    line-height: 3.5rem;
    font-size: 20px;
    color: #fff;
    float: right;
    opacity: 0;
}
.form-group.with-icon ._uploadedimages svg:hover {
    opacity: 1;
}
.no-post {
    padding: 20px;
}
.no-post h5 {
    margin-bottom: 0;
}
.btn-md-2.edit-post {
    width: 100px;
    float: right;
}
#edit-post-section .panel {
    padding: 20px;
}
.header-dropdown {
    text-align: right;
    margin-right: -8px;
    font-size: 20px;
    margin-bottom: -11px;
    position: relative;
    z-index: 999;
}

#form-create-ad ._uploadedimages svg, #form-edit-ad ._uploadedimages svg {

    opacity: 1;
    display: block;
    position: absolute;
    left: 75px;
    top: 19px;
    margin-top: -10px;
    width: 25px;
    text-align: right;
    line-height: 3.5rem;
    font-size: 20px;
    color: #fff;
    float: right;
    opacity: 0;

}
#form-create-ad ._uploadedimages svg:hover, #form-edit-ad ._uploadedimages svg:hover {
    opacity: 1;
}

#form-create-ad ._uploadouterbox, #form-edit-ad ._uploadouterbox {
    display: inline-block;
    margin-left: 0px;
    vertical-align: top;
    left: 0;
    top: 0px;
    position: absolute;
}
#form-create-ad ._uploadedimages, #form-edit-ad ._uploadedimages {
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
}
#create-ad.btn {
    color: #fff;
}
#form-edit-ad .flipScrollableArea {
    margin-top: 20px;
}
#remove-circle .remove-ad-image {
    font-size: 20px;
    color: #ff5e3a;
    right: 98px;
    position: absolute;
    margin-top: -14px;
    cursor: pointer;
}
.reply-form, .comment-edit-form, .reply-edit-form {

    padding: 25px;
    border-top: 1px solid #e6ecf5;
    overflow: hidden;

}
.reply-form .post__author, .comment-edit-form .post__author, .reply-edit-form .post__author, .shared-reply-edit-form .post__author{

    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.reply-form .post__author img, .comment-edit-form .post__author img, .reply-edit-form .post__author img, .shared-reply-edit-form .post__author img {

    margin-right: 10px;
    min-width: 28px;
    max-width: 28px;
    height: 28px;

}
.reply-form .form-group, .comment-edit-form .form-group, .reply-edit-form .form-group, .shared-reply-edit-form .form-group {

    margin-bottom: 0;
    width: 100%;
    margin-left: auto;

}
.reply-form textarea, .comment-edit-form textarea, .reply-edit-form textarea, .shared-reply-edit-form textarea {

    min-height: 60px;
    height: 60px;
    transition: all .3s ease;
}
.reply-form .add-options-message, .comment-edit-form .add-options-message, .reply-edit-form .add-options-message, .shared-reply-edit-form .add-options-message {

    position: absolute;
    right: 20px;
    bottom: 15px;
    width: auto;
    padding: 0;

}
.reply-form button, .comment-edit-form button, .reply-edit-form button, .shared-reply-edit-form button{

    float: right;
    margin-bottom: 0;
    margin-top: 15px;

}
.see-more {

    padding: 24px;

}
.edit-comment {
    cursor: pointer;
}
#post-edited-cancel, #reply-edited-cancel, #shared-post-edited-cancel, #shared-reply-edited-cancel {
    margin-right: 10px;
    color: #000;
}
.header {
    height: 58px;
    padding-right: 80px;
}
.control-icon {
    margin-right: 30px;
}
.search-bar {

}
.search-bar.w-search {
    min-height: 10px;
    margin-top: 11px;
    height: 36px;
    width: 350px;
    margin-left: 20px;
    border-radius: 2px;
    background: #fff;
}
.search-bar .form-group.with-button button {
    color: #003263;
    fill: #003263;
    background-color: #fff;
    width: 36px;
    border-radius: 2px;
}
.account-settings svg {
    fill: #0f62b4;
}
.search-bar .form-group.with-button input {
    height: 36px;
}
.form-group.with-button button {
    height: 36px;
}
.search-bar .form-group {
    margin-bottom: 0;
    height: 36px;
}
.header-spacer {
    display: block;
    height: 70px;
}
.index-group-list .group-icon img {
    width: 30px;
    margin-right: 10px;
}
.index-group-list li .text {
    margin-bottom: 10px;
}
.control-icon a {
    color: #fbfbfb;
    font-weight: 600;
}
.delete-comment {
    cursor: pointer;
}
.container.index-container {
    /*    margin-left: 85px;*/
    margin-left: 85px;
    margin-right: 85px;
}
.update-header-photo {
    width: 600px;
}
.upload-photo-item {
    width: 100%;
}
.olymp-computer-icon.upload-icon {
    fill: #0a0a0e;
    margin-left: 40px;
    position: absolute;
    /*z-index: 9999;*/
    margin-top: 41px;
    opacity: 1;
}
.upload-profile-pic .pro-pic {
    border-radius: 50%;
    opacity: 1;
    width: 150px;
    position: relative;
    margin-bottom: 15px;
}
.upload-photo-item .pro-pic:hover {
    opacity: 0.4;
}
.upload-cover-pic .cover-pic {

    border-radius: 0;
    opacity: 1;
    width: 387px;
    position: relative;
    margin-bottom: 15px;
    height: 168px;

}
.upload-cover-pic input[type="file"] {

    cursor: pointer;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 275px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    left: 85px;
    text-align: left;
    top: 44px;
    cursor: pointer;
    width: 452px;

}
.upload-profile-pic input[type="file"] {
    cursor: pointer;
    display: block;
    font-size: 1px;
    filter: alpha(opacity=0);
    min-height: 236px;
    min-width: 25px;
    opacity: 0;
    position: absolute;
    left: 208px;
    text-align: left;
    top: 33px;
    cursor: pointer;
    width: 186px;
}
.upload-photo-item {
    cursor: auto;
}
input.member-name {
    padding: 10px;
    margin: 10px 20px;
    width: 93%;
}
.search-items1 {

    background: #fff;
    padding: 14px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    width: 93%;

}
#member-name-list-append .author-thumb {

    height: 40px;
    width: 40px;
    float: left;

}
#member-name-list-append .notification-event {
    padding-left: 50px;
    width: 80%;
}
#member-name-list-append .notification-icon {
    color: #d7d9e5;
    fill: #d7d9e5;
    float: right;
    margin-top: 10px;
    margin-top: -31px;
}
#member-name-list-append .chat-message-item {
    font-size: 12px;
}
#add-member-success-msg h5, .close-modal h5 {
    padding: 10px 26px;
}
.create-group {
    background-color: transparent;
    border: 2px dashed #bbc0d5;
    position: relative;
    height: 290px;
}
.upload-group-pro-pic.pro-img {
    margin: 10px 112px 45px;
}
.remove-member {
    cursor: pointer;
}
._uploadloaderbox, ._uploadloaderbox_edit {

    display: none;
    margin-left: 5px;
    margin-right: 12px;
    vertical-align: top;
    left: 0px;
    top: 0px;
    position: absolute;

}
._uploadloaderbox ._uploadbox, ._uploadloaderbox_edit ._uploadbox {

    border: 2px solid #dddfe2;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    margin-right: 5px;
    min-width: 100px;
    position: relative;
    width: auto;
    background: #eee;
}
.notification-list.friend-requests-notification .author-thumb img {
    width: 42px;
}
.control-icon .friend-requests-notification .author-thumb {
    height: 42px;
    width: 42px;
    margin-right: 0;
    overflow: hidden;
}
.control-icon .friend-requests-notification a {
    color: #484343;
}
.form-group.with-button button.search-btn {
    height: 100%;
}
.friend-list-img {
    width: 34px;
}
.members-in-group {
    height: 290px;
}
header [class*=" -icon"], [class^="olymp-"] {
    height: 24px;
    width: 24px;
    display: inline-block;
}
header .control-icon > svg {
    height: 24px;
}
.f-a-size {
    font-size: 24px;
}



/***************************************************/
#content .content-title {
    margin-bottom: 20px;
}
.title-bg {
    position: relative;
}
.title-bg .title1 {
    margin: 7.5px 0;
    font-weight: 600;
}
.title-bg > h1, .title-bg > h2, .title-bg > h3, .title-bg > h4, .title-bg > h5 {
    position: relative;
    display: inline-block;
    left: 0;
    padding-right: 30px;
    z-index: 1;
    background: #fff;
}
@media(min-width: 1200px) {
    .title1 {
        font-size: 42px;
    }
}
.title1 {
    padding-left: 8px;
    border-left: 4px solid #7bae23;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.title-bg::after {
    content: '';
    background: #dcdcdc;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.5px;
    display: block;
    width: 100%;
    height: 1px;
    z-index: 0;
}
.title-bg + .title-desc {
    margin: 5px 0;
}
.title-desc {
    font: 17px/1.5 "PT Sans",Arial,sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.carousel-controls {
    top: 8px;
    width: 130px;
    height: 41px;
    padding-left: 17px;
}

/*********************************/
.ad-container {
    padding: 20px 50px;
}
.owl-nav {
    float: right;
    font-size: 20px;
    margin-top: -569px;
}
#ad-slider .owl-prev span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 10px 0px 0px 10px;
}
#ad-slider .owl-next span{
    font-size: 58px;
    border: 1px solid #ccc;
    padding: 0px 14px;
    border-radius: 0px 10px 10px 0px;
}
#ad-slider .owl-prev {
    background: #fff;
}
#ad-slider .owl-next {
    background: #fff;
}
#ad-slider .slider-details-section {
    border: 1px solid #ccc;
    padding: 20px 10px;
}
#ad-slider .title {
    padding-left: 8px;
    border-left: 4px solid #7bae23;
    font-size: 40px;
    margin-bottom: 0px;
}
#ad-slider .title h5 {
    margin-bottom: 0px;
}
#ad-slider .created-date {
    padding-left: 11px;
    margin-bottom: 5px;
}
#ad-slider .description {
    height: 63px;
}
#ad-slider .member-details img {
    width: 42px;
    border-radius: 50%;
}
.member-details .col-xl-8, .member-details .col-xs-9 {
    padding-left: 8px;
    padding-right: 0px;
}
.member-details .col-xl-3 {
    padding-right: 0px;
}
.col-xl-4.category  {
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
}
.member-details .mem-name {
    margin-top: 5px;
}
#ad-slider .category {
    margin-top: 5px;
}
.category-list .category-item-box {
    width: 160px;
    height: 160px;
    padding: 10px;
    background: #e1e1e1;
    border: 1px solid #fff;
}
.category-list.container {
    max-width: 960px;
    margin: 20px 95px;
}
.category-list .cat-img img {
    width: 100px;
}
.category-list .cat-img {
    text-align: center;
}
.category-list .cat-title {
    margin-top: 12px;
    text-align: center;
}
.category-list .cat-title h4 {
    font-size: 18px;
    font-weight: 400;
}
.category-list .category-item-box:hover {
    -webkit-box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    -moz-box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    box-shadow: 0px -1px 15px 0px rgba(179,173,179,1);
    z-index: 9;
}

/*************** Read More Less **********************/
.morecontent span {
    display: none;
}
.morelink {
    display: inline;
    margin-top: -21px;
    margin-left: 10px;
}

#site-header .control-icon img {
    height: 22px;
}
#site-header .control-icon img:hover {
    height: 22px;
    opacity: 1;
}
.author-thumb.message-box img{
    width: 36px;
}
.chat-message .notification-event {
    max-width: 75%;
    font-size: 12px;
    padding-left: 15px;

}
.chat-message-field .chat-message-item {
    width: 100%;
}
.ad-details-section .author-thumb img {
    border-radius: 0;
    width: 60px;
}
.ad-details-section .author-thumb {
    margin-right: 15px;
}
.ui-block-title.ad-details-section {
    border-bottom: 1px solid #e6ecf5;
    padding: 14px 25px 14px;
    background: #f3f3f3;
}
.ui-block-title.ad-details-section .notification-event {
    width: 100%;
    font-size: 11px;
    line-height: 14px;

}
.notification-list .active {
    background: #f5f5f5;

}
.ui-block-title.reciever-details {
    padding: 6px 25px 6px;
}
.control-icon .message-unread a.notification-friend {
    color: #000 !important;
}
.control-icon .message-unread a.notification-friend:hover {
    color: #003263;
}
.bg-theme-blue {
    background-color: #003263;
}
.form-group.with-button .find-friends button {
    height: 100%;
}
.btn-primary {
    background-color: #003263;
    border-color: #003263;
}
.btn-primary:hover {
    background-color: #fff;
    border-color: #003263;
    color: #003263;
}
.back-to-top {
    background-color: #003263;
}
.bg-primary {
    background-color: #003263 !important;
}
.news-feed-form .nav-tabs .nav-link.active {
    fill: #003263;
    color: #515365;
}
.more-dropdown li a:hover {
    color: #003263;
}
.no-chats {
    text-align: center;
}
.no-chats h3, .no-chats h6 {
    margin-bottom: 20px;
}.nav {
    display: none;
}


@media(min-width: 1400px) {
    .container {
        /*max-width: 1323px;*/
        max-width: 1253px;
    }
}
.page-title img{
    /*padding-top: 4px;*/
}
.more{
    padding-bottom: 10px;
}
.has-items1 img{
    padding-top: 4px;
}
.control-block .author-title{
    padding-top: 7px;
}
.control-block .author-thumb{
    padding-top: 9px;
}
.icon-status.online{
    margin-top: 9px;
}
.has-items-news img{
    height: 24px;
}
.btn-primary:hover {
    background-color: #003263;
    color: #fff;
    border: 1px solid #003263;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #003263;
    background-color: #003263;
    border-color: #003263;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
    color: #fff;
}
.btn-primary:disabled:hover {

    background-color: #bdc0d5;
    color: #fff;
    border: 1px solid #bdc0d5;

}
.btn-post{
    background-color: #003263;
    font-size: 13px;
    border-radius: 0px;
    color: #fff;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid #ccd6e0;
    margin-left: 0px;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    margin-top: 5px;
}
.btn-post:hover {
    background-color: #ccd6e0;
    color: #003263;
    border: 1px solid #ccd6e0;
}
.btn-post:hover .icon {
    color: #003263;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.btn-post .icon {
    font-size: 15px;
    margin-right: 5px;
    margin-top: 2px;
}
.icon-box {
    text-align: center;
}
.control-icon span, .author-page span {
    display: block;
}
.author-page span img {
    width: 22px;
}
.control-icon span img {
    float: none;
}
#site-header .control-icon {
    text-align: center;
}
/*#site-header .control-icon  {
    border-right: 1px solid #eee;
}*/
#site-header .olymp-dropdown-arrow-icon {
    height: 15px;
    width: 10px;
    padding-top: 5px;
}
#site-header .avatar {
    margin-top: 0px;
}
#site-header .control-icon .label-avatar {
    width: 17px;
    height: 17px;
    line-height: 17px;
    /*top: -7px;*/
    right: 6px;
}
.more-dropdown li a:hover {
    color: #003263;
}
.control-icon a:hover {
    color: #fff;
}
#site-header .more {
    padding-bottom: 4px;
}
#site-header .control-block .author-thumb {
    padding-top: 0px;
    margin-right: 0px;
}
#site-header .control-icon img.follower-request {
    height: 26px;   
}

/*Responsive Header*/
.nav {
    height: 50px;
    width: 100%;
    background-color: #003263;
    position: relative;
    border-bottom: 1px solid #fff;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 7px 10px 6px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-flex;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}
.nav-title.logo img {
    width: 150px;
}
.nav-links a img {
    width: 25px;
    margin-right: 15px;
}
.nav-links a span {
    font-weight: 600;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover {
        background-color: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid #fff;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #003263;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: inline-flex    ;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
/*--Header Icon--*/
.icon-newsfeed span{
    margin-top: 1px;
}
.icon-request span{
    margin-top: -1px;
}
.icon-profile span{
    margin-top: 1px;
}
#site-header .avatar{
    /*margin-top: 2px;*/
}
.loader img {
    width: 50px;

}
.loader {
    text-align: center;
}
.table-careers li {
    display: table;
    width: 100%;
    padding: 15px 35px;
    border: 1px solid #e6ecf5;
    margin-top: 18px;
    border-radius: 5px;
    transition: background-color .3s ease;
    background: #fff;
}
.table-careers li:first-child {
    margin-top: 0;
    background: none;
}

.chat-message .notif-list .notification-event {
    width: 88%;
    max-width: 88%;
}
.more-dropdown:hover {
    visibility: hidden;
}

/*==Group Settings==*/
/*.ads{
    border: 1px solid black;
    padding: 12px;
    margin-left: -12px;
}
.margin{
    border: 1px solid #000; 
}*/
/*======*/
.panel-primary{
    border-color: black;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #38a9ff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    /*margin-right: 3px;*/
    /*margin-right: 58px;*/
}
.panel-primary > .panel-heading{
    color: #fff;
    background-color: #38a9ff;
    border-color: #38a9ff;
}
.panel-heading{
    padding: 0px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.row-1{
    margin-right: -15px;
    margin-left: -15px;
    /*margin-bottom: -34px;*/
}
.icons{
    width: 25%;
}
.panel-primary > .panel-heading{
    color: #fff;
}
.fa-5x{
    font-size: 5em;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}
/*.col-xs-9{
    width: 75%;
}*/
.text-right{
    text-align: right;
    width: 75%;
}
.huge{
    font-size: 32px;
    padding-right: 14px;
}
.text-right{
    text-align: right;
}
.panel-footer{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.content1{
    margin-left: 33px;
    margin-top: 17px
}
.title a{
    font-size: 13px;
    color: aliceblue;
    /*margin-right: 12px;*/

}
.img-icon{
    font-size: 31px;
}
.title{
    margin-right: 5px;
}
.img-icon{
    margin-top: 9px;
    margin-left: 13px;
}
.pull-left{
    margin-left: -4px;
}
.panel-content{
    width: 167px; 
}
.panel-1{
    width: 150px;
}

/*==group details==*/
.table-careers .head span{
    font-size: 14px;
    color: #9a9fbf;
}
/*.head{
    background-color: #fff;
}*/
.table-careers li:first-child{
    background: #fff; 
}
.table-careers li:first-child:hover{
    background: #fff; 
}
.unviewed-notification {
    background: #f5fcff;
}
#site-header .control-icon .label-avatar.newest-notifications {
    /*right: 18px;*/
}
.control-icon a{

    color: #888da8;
}
.account-settings li a span {
    color: #939191;
}
.account-settings li a span:hover {
    color: #003263;
}
.profile-dropdown li a span {
    color: #939191;
}
.profile-dropdown li a span:hover {
    color: #003263;
}


.landing-page{
    background-image: none;
    background-color: #f2f2f2;
}

.boost-btn.btn {
    position: absolute;
    margin-left: 20px;
    color: #fff !important;
    border: 1px solid #1ed760;
    padding: 2px .75rem;
}
.btn-red {
    background-color: red;
    border: 1px solid red !important;
    cursor: inherit;
}
.more-dropdown a {

    padding: 7px 0;
    font-size: 12px;
    color: #fff !important;
}
.your-profile-menu li a {
    cursor: pointer;
}
.btn {
    color: #fff !important;
}
/************************* Footer *************************/
.footer-top-wrap {

    background-color: #003263;
    padding: 90px 0px 38px;
    position: relative;
    z-index: 1;

}
.footer-box {

    margin-bottom: 30px;

}
.footer-box .footer-logo {
    text-align: center;
    /*padding-bottom: 25px;*/

}
.footer-logo img {
    width: 200px;
}
.footer-box .footer-about {

    font-size: 17px;
    padding-bottom: 5px;

}
.footer-box .footer-contact-info {

    margin-bottom: 32px;

}
.footer-box .footer-contact-info li {

    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 42px;
    margin-top: 19px;
}
.footer-box .footer-contact-info li svg {

    font-size: 20px;
    color: #fefefe;
    top: 5px;
    left: 0;
    position: absolute;

}
.footer-box .footer-header {

    position: relative;

}
.footer-box .footer-header h3 {

    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;

}
.footer-box .footer-header::after {

    content: "";
    width: 50px;
    height: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;

}
.footer-box .widget_nav_menu li {

    margin-bottom: 10px;

}
.footer-box .widget_nav_menu li a {

    font-size: 17px;
    color: #999999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}
.footer-box .footer-social {

    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.footer-box .footer-social ul li {

    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;

}
.footer-box .footer-social ul li a {

    background-color: #003263;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: 1px solid #fff;

}
.footer-box ul.folow-us {

    margin-top: 30px;

}
.footer-box ul.folow-us li {

    margin-bottom: 5px;

}
.footer-box ul.folow-us li a {

    display: inline-block;

}
.footer-box ul.folow-us li a img {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

}
.footer-top-wrap::after {

    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("img/figure/footer-bg.png") bottom left no-repeat;
    width: 100%;
    height: 103px;

}
.footer-bottom-wrap {

    background-color: #003263;
    /*background-color: #11215a;*/
    min-height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #484747;
}
.footer-container {
    max-width: 1106px;
    margin-left: auto;
    margin-right: auto;
}
.ui-block.ui-ad-block {
    border-radius: 0px;
    margin-bottom: 0px;
}
.copyright {

    position: absolute;
    width: 100%;
    margin-top: -11px;

}
.footer-box .widget_nav_menu li svg {
    margin-right: 15px;
    font-size: 14px;
}
.footer-contact-info p, .footer-about p, .footer-box .widget_nav_menu li a {
    font-size: 14px;
}
.footer-box .widget_nav_menu li a {
    color: #999999;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.widget_nav_menu ul {
    margin-top: 19px;
}
.footer-about p {
    text-align: justify;
    color: #999999;
}
.contact-info-title {
    font-size: 13px;
    color: #fff;
}
.footer-box {
    color: #999999;
}
.friend-item-content .more-dropdown a{
    color: #003263 !important;
}
.dropdown-nav a img {
    border-radius: 0;
    margin-right: 20px;
}
.dropdown-nav .label-avatar {
    position: relative;
    right: 0px;
    float: right;
    top: 0px;
}
.control-block-button .more-dropdown a {
    color: #939191 !important;
}
.control-block-button .more-dropdown a:hover {
    color: #003263 !important;
}
.post__author .more-dropdown a {
    color: #939191 !important;
}
.post__author .more-dropdown a:hover {
    color: #003263 !important;
}
.form-group.with-button button.search-friend-btn {
    height: 40px;
}
.btn-smoke {
    background-color: #ddd;
    color: #585f63 !important;
}
#shared-reply-edited-cancel, #shared-post-edited-reply {
    padding-bottom: 6px;
    padding-top: 6px;
}
.shared-reply-edit-form button {
    margin-top: 10px;
}
.your-profile a.items-round-little {
    color: #fff !important;
}
.swiper-slide p {
    text-align: center;
}
.progressbar-section {
    padding: 0 50px 50px;
    margin-top: -50px;
}
.myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar, #myBar1, #myBar2 {
    width: 1%;
    height: 30px;
    background-color: #001931;
}
.progress-label {
    position: absolute;
    left: 47%;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 4px;
    color: #fff;
}
.login2.progressbar-section {
    padding: 0 50px 50px;
    margin-top: 35px;
}

.notification-list a .notification-event {
    color: #938dbd;
}
.notif-list .post__date {
    font-size: 12px;
}
.notif-list .post__date svg {
    margin-right: 6px;
}
#site-header .control-icon .label-avatar.more-circle {
    top: -6px;
    right: 0px;
}
.w-personal-info li .title {
    width: 20%;
}