/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2018, 5:16:09 PM
    Author     : W j K n¨
*/

#rememberme {
    position: absolute;
    left: 0px;
    opacity: 0;
}
.header2 {
    color: #555;
    padding: 20px 0;
    position: relative;
    border-bottom: 0px solid rgba(204, 204, 204, 0.35);
}
.header2 h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
}